USE [Finance]
GO
/****** Object:  View [dbo].[NetSuite2_View_AssemblyBuildSum]    Script Date: 9/22/2026 3:43:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[NetSuite2_View_AssemblyBuildSum]
AS
SELECT
    tl.createdfrom                                              AS CREATED_FROM_ID,
    t.custbody_wo_assembly                                      AS AssemblyItem,
    i.fullname                                                  AS Item,
    COALESCE(i.displayname,i.description,i.purchasedescription) AS ItemDesc, -- Pull displayname unless it is NULL, then whichever of the other two columns are not NULL JF
    i.itemtype                                                  AS ItemType,
    ISNULL(i.custitem_bars, 0)                                  AS BarCount,
    SUM(tl.quantity)                                            AS Units,
    SUM(tl.quantity * ISNULL(i.custitem_bars, 0))               AS Bars,
    SUM(tl.netamount)                                           AS Amount
FROM [Source_NetSuite].[ns2].[transaction] t
INNER JOIN [Source_NetSuite].[ns2].[transactionLine] tl
    ON tl.[transaction] = t.id
INNER JOIN [Source_NetSuite].[ns2].[item] i
    ON i.id = tl.item
WHERE
    t.trandate >= '2024-01-01'
    AND t.recordtype = 'assemblybuild'
    AND tl.id = 0
GROUP BY
    tl.createdfrom,
    t.custbody_wo_assembly,
    i.fullname,
    COALESCE(i.displayname,i.description,i.purchasedescription),
    i.itemtype,
    i.custitem_bars;
GO
/****** Object:  View [dbo].[vw_SCA_WorkOrderSupply]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_SCA_WorkOrderSupply]
AS

WITH WorkOrderStatusLookup AS
(
    SELECT
        id AS StatusID,
        fullname AS WorkOrderStatus,

        CASE
            WHEN fullname = 'Work Order : Planned'
                THEN 'Planned WO'
            WHEN fullname = 'Work Order : In Process'
                THEN 'Active WO'
            WHEN fullname = 'Work Order : Built'
                THEN 'Built'
            WHEN fullname = 'Work Order : Closed'
                THEN 'Closed'
            ELSE 'Review'
        END AS WorkOrderSupplyType,

        ROW_NUMBER() OVER
        (
            PARTITION BY id
            ORDER BY fullname
        ) AS StatusRowNum

    FROM Source_NetSuite.ns2.transactionstatus

    WHERE fullname IN
    (
        'Work Order : Planned',
        'Work Order : In Process',
        'Work Order : Built',
        'Work Order : Closed'
    )
),

WorkOrderBase AS
(
    SELECT
        t.id AS WorkOrderTransactionID,
        t.tranid AS WorkOrderID,
        t.trandate AS WorkOrderDate,

        LTRIM(RTRIM(t.custbody_wo_assembly))
            AS RawAssemblyValue,

        assemblyitem.id AS ItemID,
        assemblyitem.fullname AS ItemSKU,

        COALESCE
        (
            assemblyitem.displayname,
            assemblyitem.description,
            assemblyitem.purchasedescription
        ) AS ItemDescription,

        ISNULL(assemblyitem.custitem_bars, 0)
            AS BarsPerFinishedGood,

        CASE
            WHEN assemblyitem.unitstype = 2
                THEN 'EA'
            WHEN assemblyitem.unitstype = 1
                THEN 'KG'
            ELSE ''
        END AS UOM,

        t.location AS LocationID,
        loc.fullname AS LocationName,

        t.startdate AS StartDate,
        t.enddate AS ExpectedCompletionDate,

        t.status AS StatusID,
        wos.WorkOrderStatus,
        wos.WorkOrderSupplyType,

        MAX
        (
            ABS(COALESCE(tl.quantity, 0))
        ) AS WorkOrderQtyUnits,

        MAX
        (
            ABS(COALESCE(vabs.Units, 0))
        ) AS UnitsProduced,

        COUNT(DISTINCT tl.id)
            AS FinishedGoodLineCount

    FROM Source_NetSuite.ns2.[transaction] t

    INNER JOIN Source_NetSuite.ns2.item assemblyitem
        ON LTRIM(RTRIM(assemblyitem.fullname))
         = LTRIM(RTRIM(t.custbody_wo_assembly))

    INNER JOIN Source_NetSuite.ns2.transactionLine tl
        ON tl.[transaction] = t.id
       AND tl.item = assemblyitem.id

    INNER JOIN WorkOrderStatusLookup wos
        ON wos.StatusID = t.status
       AND wos.StatusRowNum = 1

    LEFT JOIN Source_NetSuite.ns2.Location loc
        ON loc.id = t.location

    LEFT JOIN Finance.dbo.NetSuite2_View_AssemblyBuildSum vabs
        ON vabs.CREATED_FROM_ID = t.id

    WHERE t.recordtype = 'workorder'
      AND NULLIF
      (
          LTRIM(RTRIM(t.custbody_wo_assembly)),
          ''
      ) IS NOT NULL

    GROUP BY
        t.id,
        t.tranid,
        t.trandate,
        LTRIM(RTRIM(t.custbody_wo_assembly)),
        assemblyitem.id,
        assemblyitem.fullname,
        COALESCE
        (
            assemblyitem.displayname,
            assemblyitem.description,
            assemblyitem.purchasedescription
        ),
        assemblyitem.custitem_bars,
        assemblyitem.unitstype,
        t.location,
        loc.fullname,
        t.startdate,
        t.enddate,
        t.status,
        wos.WorkOrderStatus,
        wos.WorkOrderSupplyType
)

SELECT
    WorkOrderTransactionID,
    WorkOrderID,
    WorkOrderDate,

    RawAssemblyValue,

    ItemID,
    ItemSKU,
    ItemDescription,

    BarsPerFinishedGood,
    UOM,

    LocationID,
    LocationName,

    StartDate,
    ExpectedCompletionDate,

    StatusID,
    WorkOrderStatus,
    WorkOrderSupplyType,

    WorkOrderQtyUnits,

    UnitsProduced,

    CASE
        WHEN WorkOrderQtyUnits - UnitsProduced > 0
            THEN WorkOrderQtyUnits - UnitsProduced
        ELSE 0
    END AS UnitsRemaining,

    WorkOrderQtyUnits
        * BarsPerFinishedGood
        AS WorkOrderQtyBars,

    UnitsProduced
        * BarsPerFinishedGood
        AS BarsProduced,

    CASE
        WHEN WorkOrderQtyUnits - UnitsProduced > 0
            THEN
                (
                    WorkOrderQtyUnits - UnitsProduced
                ) * BarsPerFinishedGood
        ELSE 0
    END AS BarsRemaining,

    FinishedGoodLineCount,

    CASE
        WHEN FinishedGoodLineCount = 1
            THEN 'Valid finished-good line'
        WHEN FinishedGoodLineCount = 0
            THEN 'Missing finished-good line'
        ELSE 'Multiple finished-good lines'
    END AS WorkOrderValidationStatus

FROM WorkOrderBase;
GO
/****** Object:  View [dbo].[NetSuite2_View_WorkOrdersOpen]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   VIEW [dbo].[NetSuite2_View_WorkOrdersOpen]
AS
SELECT
    t.trandate                  AS [Date],
    t.startdate                 AS StartDate,
    t.enddate                   AS EndDate,
    t.recordtype                AS TransType,
    t.tranid                    AS WONum,
    t.id                        AS TRANSACTION_ID,
    t.custbody_wo_assembly      AS AssemblyItem,
    i.fullname                  AS Item,                  
    COALESCE(i.displayname,i.[description],i.purchasedescription) AS ItemDesc,
    ISNULL(i.custitem_bars, 0)  AS BarCount,
   
    CASE
        WHEN i.unitstype = 2 THEN 'EA'
        WHEN i.unitstype = 1 THEN 'KG'
        ELSE ''
    END                         AS UOM,
    tl.quantity                 AS Units,
    ISNULL(tl.quantity * i.custitem_bars, 0) AS Bars,
    t.status                    AS TranStatus,
    tl.id                       AS TRANSACTION_LINE_ID,
    ISNULL(vabs.Units, 0)       AS UnitsProduced,
    tl.quantity - ISNULL(vabs.Units, 0) AS UnitsRemaining

FROM [Source_NetSuite].[ns2].[transaction] t
	INNER JOIN [Source_NetSuite].[ns2].[transactionLine] tl ON tl.[transaction] = t.id
	INNER JOIN [Source_NetSuite].[ns2].[item] i ON i.id = tl.item
	LEFT JOIN [dbo].[NetSuite2_View_AssemblyBuildSum] vabs ON t.id = vabs.CREATED_FROM_ID
WHERE t.trandate >= '2025-11-01'
    AND t.recordtype = 'workorder' --'Work Order'
    --AND t.status IN ('Planned', 'In Process', 'Built', 'Released', 'Closed') to get these values, connect to transactionstatus table. 
    ;
GO
/****** Object:  View [dbo].[NetSuite2_View_StdCostDetail]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   VIEW [dbo].[NetSuite2_View_StdCostDetail]
AS

select * from finance..viewStdCostDetail
GO
/****** Object:  View [dbo].[NetSuite2_View_StdCostByCategory]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   VIEW [dbo].[NetSuite2_View_StdCostByCategory]
AS

SELECT TOP (100) PERCENT
    ITEM_ID,
    Item,
    ItemDesc,
    Location,
    COST_CATEGORY,
    SUM(STANDARD_COST) AS StdCost

FROM Finance.[dbo].[NetSuite2_View_StdCostDetail] AS vscd

GROUP BY
    ITEM_ID,
    Item,
    ItemDesc,
    COST_CATEGORY,
    Location

ORDER BY
    Item


GO
/****** Object:  View [dbo].[NetSuite2_View_StdCostSum]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE   VIEW [dbo].[NetSuite2_View_StdCostSum]
AS

SELECT
    ITEM_ID,
    Item,
    ItemDesc,
    Location,
    SUM(StdCost) AS StandardCost

FROM [dbo].[NetSuite2_View_StdCostByCategory] AS vsc

WHERE Location = 'Main Warehouse'

GROUP BY
    ITEM_ID,
    Item,
    ItemDesc,
    Location;

GO
/****** Object:  View [dbo].[NetSuite2_View_InventoryOnHand]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   VIEW [dbo].[NetSuite2_View_InventoryOnHand]
AS

SELECT
    i.id AS ITEM_ID,
    i.fullname AS FULL_NAME,
    COALESCE(i.displayname,i.description,i.purchasedescription) AS DISPLAYNAME,
    i.custitem_bars AS BARS,
    inv.memo AS MEMO,
    inl.location AS LOCATION_ID,
    inv.custitemnumber_wmsts_lot_date AS LOT_DATE,
    --inv.lastmodifieddate AS DATE_LAST_MODIFIED,
    SUM(COALESCE(inl.quantityonorder, 0)) AS OnOrder,
    SUM(COALESCE(inl.quantityonhand, 0)) AS OnHand,
    SUM(COALESCE(inl.quantityavailable, 0)) AS Available

FROM [Source_NetSuite].[ns2].[inventoryNumber] inv
INNER JOIN [Source_NetSuite].[ns2].[Item] i
    ON inv.item = i.id
INNER JOIN [Source_NetSuite].[ns2].[inventoryNumberLocation] inl
    ON inv.id = inl.inventorynumber

GROUP BY
    i.id,
    i.fullname,
    COALESCE(i.displayname,i.description,i.purchasedescription),
    i.custitem_bars,
    inv.memo,
    inl.location,
    inv.custitemnumber_wmsts_lot_date
   -- inv.lastmodifieddate    ;

GO
/****** Object:  View [dbo].[NetSuite2_View_ItemLastProductionDate]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




 
CREATE VIEW [dbo].[NetSuite2_View_ItemLastProductionDate] 
AS

select * from finance..viewItemLastProductionDate

GO
/****** Object:  View [dbo].[NetSuite2_View_ItemsAll]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




 
CREATE   VIEW [dbo].[NetSuite2_View_ItemsAll]
AS
	select
	
	i.id item_id
	,i.fullname full_name
	,coalesce(i.displayname, i.description, i.purchasedescription) displayname
	,it.name type_name
	,i.stockunit stock_unit_id
	,pt.name product_type_name
	,pc.name product_class_name
	,i.custitem1 flavor
	,i.custitem_bars barCount
	,vioh.OnHand
	,i.custitem_bars * vioh.OnHand BarsOnHand
	,i.lastpurchaseprice last_purchase_price
	,i.totalvalue 
	,i.lastmodifieddate date_last_modified
	,vilpd.tranDate lastAssemblyDate
	,a.acctnumber AssetAccount
	,a.accountsearchdisplaynamecopy name
	,case
		when a.acctnumber = 121010 then 'Ingredients'
		when a.acctnumber = 121010 then 'Packaging'
		when a.acctnumber = 121060 and i.unitstype = 1 then 'Batch'
		when a.acctnumber = 121060 and i.unitstype = 2 then 'Loose Bar'
		when a.acctnumber = 121050 then 'Finished Goods'
		when it.name = 'Kit/Package' then 'Finished Goods'
		else 'unknown'
	end itemSubCat
	,case
		when i.unitstype = 2 then 'EA'
		when i.unitstype = 1 then 'KG'
		else 'UN'
	end UOM
	,sc.standardCost
	,sc.StandardCost*vioh.OnHand [value]
	,i.custitemitem_category item_category_id
	,i.isinactive 
	from source_netsuite.ns2.item i (nolock)
	--left join (select * from openquery(nsprod264,'select * from itemtype')) it on it.id = i.itemType
	left join Source_NetSuite.ns2.itemtype it on it.id = i.itemType
	left join source_netsuite.ns2.CUSTOMRECORD_CSEG_CCC_PROD_LINE pt (nolock) on pt.id = i.cseg_ccc_prod_line
	left join source_netsuite.ns2.CUSTOMRECORD_CSEG_PRODUCT_TYPE pc (nolock) on pc.id = i.cseg_product_type
	left join finance..NetSuite2_View_InventoryOnHand vioh on vioh.item_id = i.id
	left join finance..NetSuite2_View_ItemLastProductionDate vilpd on vilpd.item_id = i.id
	left join source_netsuite.ns2.account a (nolock) on a.id = i.assetaccount
	left join finance..NetSUite2_View_StdCostSum sc on sc.item_id = i.id
	where 1 = 1
	and it.name IN ('Assembly','Inventory Item','Kit/Package','Non-Inventory Item')
GO
/****** Object:  View [dbo].[NetSuite2_View_StdCostSumByLocation]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[NetSuite2_View_StdCostSumByLocation]
AS
SELECT ITEM_ID, Item, ItemDesc, Location, SUM(StdCost) AS StdCost
FROM dbo.NetSuite2_View_StdCostByCategory
GROUP BY ITEM_ID, Item, ItemDesc, Location
GO
/****** Object:  View [dbo].[NetSuite2_View_Items]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[NetSuite2_View_Items]
AS
SELECT
    i.assetaccount                    AS ASSET_ACCOUNT_ID,
    i.averagecost                     AS AVERAGECOST,
    i.custitem_bars                   AS BARS,
    i.class                           AS CLASS_ID,
    i.costingmethod                   AS COSTING_METHOD,
    i.cost                            AS COST_0,
    i.costcategory                    AS COST_CATEGORY,
    i.costestimatetype                AS COST_ESTIMATE_TYPE,
    i.createddate                     AS CREATED,
    i.lastmodifieddate                AS DATE_LAST_MODIFIED,

    CAST(NULL AS datetime)            AS DATE_OF_LAST_TRANSACTION,
    CAST(NULL AS nvarchar(255))       AS DEMAND_TIME_FENCE,

    CASE
        WHEN NULLIF(LTRIM(RTRIM(i.displayname)), '') IS NOT NULL
         AND NULLIF(LTRIM(RTRIM(i.description)), '') IS NOT NULL
            THEN i.displayname + ' - ' + i.description
        WHEN NULLIF(LTRIM(RTRIM(i.displayname)), '') IS NOT NULL
            THEN i.displayname
        ELSE i.description
    END                               AS DISPLAYNAME,

    i.expenseaccount                  AS EXPENSE_ACCOUNT_ID,
    i.fullname                        AS FULL_NAME,
    i.incomeaccount                   AS INCOME_ACCOUNT_ID,

    CAST(NULL AS bigint)              AS INTERCO_EXPENSE_ACCOUNT_ID,

    i.isinactive                      AS ISINACTIVE,
    i.externalid                      AS ITEM_EXTID,
    i.id                              AS ITEM_ID,

    CAST(NULL AS nvarchar(255))       AS ITEM_REVENUE_CATEGORY,

    i.lastpurchaseprice               AS LAST_PURCHASE_PRICE,

    CAST(NULL AS bigint)              AS LOCATION_ID,

    i.islotitem                       AS LOT_NUMBERED_ITEM,
    i.manufacturer                    AS MANUFACTURER,
    i.fullname                        AS NAME,

    CAST(NULL AS nvarchar(255))       AS OVERHEAD_TYPE,
    CAST(NULL AS bigint)              AS PARENT_ID,

    i.cseg_product_type               AS PRODUCT_CLASS_ID,

    i.prodpricevarianceacct           AS PROD_PRICE_VAR_ACCOUNT_ID,
    i.prodqtyvarianceacct             AS PROD_QTY_VAR_ACCOUNT_ID,
    i.purchasepricevarianceacct       AS PURCHASE_PRICE_VAR_ACCOUNT_ID,
    i.purchaseunit                    AS PURCHASE_UNIT_ID,
    i.saleunit                        AS SALE_UNIT_ID,

    CAST(NULL AS bigint)              AS SCRAP_ACCOUNT_ID,

    i.stockunit                       AS STOCK_UNIT_ID,
    i.transferprice                   AS TRANSFERPRICE,
    i.itemtype                        AS TYPE_NAME,
    i.unbuildvarianceaccount          AS UNBUILD_VARIANCE_ACCOUNT_ID,
    i.unitstype                       AS UNITS_TYPE_ID,
    i.upccode                         AS UPC_CODE,

    CAST(NULL AS decimal(18,6))       AS USE_COMPONENT_YIELD,

    i.vendorname                      AS VENDORNAME,

    CAST(NULL AS bigint)              AS VENDOR_ID,

    i.custitem_ccc_item_weight_lb     AS WEIGHT,
    i.custitem_ccc_item_width_in      AS WIDTH
FROM [Source_NetSuite].[ns2].[Item] i;
GO
/****** Object:  View [dbo].[NetSuite2_View_AccountingPeriod]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[NetSuite2_View_AccountingPeriod]
AS
SELECT
    ap.id AS ACCOUNTING_PERIOD_ID,
    ap.closed AS CLOSED,
    ap.apLocked AS CLOSED_ACCOUNTS_PAYABLE,
    ap.arLocked AS CLOSED_ACCOUNTS_RECEIVABLE,
    ap.allLocked AS CLOSED_ALL,
    ap.closedondate AS CLOSED_ON,
    
	/* no mapped NetSuite2 column shown */
    CAST(NULL AS varchar(10)) AS CLOSED_PAYROLL,

    ap.lastmodifieddate AS DATE_LAST_MODIFIED,
    ap.enddate AS ENDING,

    /* no mapped NetSuite2 column shown */
    CAST(NULL AS bigint) AS FISCAL_CALENDAR_ID,

	/* no mapped NetSuite2 column shown */
    CAST(NULL AS varchar(10)) AS FULL_NAME,
    ap.isinactive AS ISINACTIVE,
    ap.isadjust AS IS_ADJUSTMENT,
    ap.apLocked AS LOCKED_ACCOUNTS_PAYABLE,
    ap.arLocked AS LOCKED_ACCOUNTS_RECEIVABLE,
    ap.allLocked AS LOCKED_ALL,

	/* no mapped NetSuite2 column shown */
    CAST(NULL AS varchar(10)) AS LOCKED_PAYROLL,
    ap.periodname AS NAME,
    ap.parent AS PARENT_ID,
    ap.isquarter AS QUARTER,
    ap.startdate AS STARTING,
    ap.isyear AS YEAR_0,
	 
    ap.[year] AS YEAR_ID,

    MONTH(ap.enddate) AS PERIOD,
    YEAR(ap.enddate) AS [YEAR]
FROM [Source_NetSuite].[ns2].[accountingPeriod] ap;
GO
/****** Object:  View [dbo].[NetSuite2_View_Transactions]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[NetSuite2_View_Transactions]
AS
SELECT
    CAST(NULL AS bigint)            AS ACCOUNTING_BOOK_ID,
    t.postingperiod                 AS ACCOUNTING_PERIOD_ID,
    t.custbody_sps_deliverydate     AS ACTUAL_DELIVERY_DATE,
    t.actualshipdate                AS ACTUAL_SHIP_DATE,
    t.amountunbilled                AS AMOUNT_UNBILLED,
    t.custbody_wo_assembly          AS ASSEMBLY_ITEM,
    t.closedate                     AS CLOSED,
    t.custbody_ccc_collections_rep  AS COLLECTIONS_REP_ID,
    t.createdby                     AS CREATED_BY_ID,
    CAST(NULL AS bigint)            AS CREATED_FROM_ID,
    t.createddate                   AS CREATE_DATE,
    t.custbody_sps_customeraccountnumber AS CUSTOMER_ACCOUNT_NUMBER,
    CAST(NULL AS datetime)          AS CUSTOMER_ORDER_DATE,
    t.custbody_sps_customerordernumber AS CUSTOMER_ORDER_NUMBER,
    t.lastmodifieddate              AS DATE_LAST_MODIFIED,
    CAST(NULL AS datetime)          AS DATE_ORDER_RECEIVED_DATE,
    t.custbody_sps_department       AS DEPARTMENT,
    t.custbody_sps_departmentdescription AS DEPARTMENT_DESCRIPTION,
    t.duedate                       AS DUE_DATE,
    t.custbody_sps_date_064         AS EARLIEST_DELIVERY_DATE,
    t.custbody_sps_date_037         AS EARLIEST_SHIP_DATE,
    t.custbody_sps_date_007         AS EFFECTIVE_DATE,
    t.enddate                       AS END_DATE,
    CAST(NULL AS datetime)          AS ESTIMATED_DELIVERY_DATE,
    t.custbody_fulfillment_created  AS FULFILLMENT_CREATED,
    t.custbody_sps_gen_noteinformationfield AS GENERAL_NOTES,
    CAST(NULL AS bit)               AS IS_NON_POSTING,
    t.lastmodifieddate              AS LAST_MODIFIED_DATE,
    t.location                      AS LOCATION_ID,
    t.memo                          AS MEMO,
    CAST(NULL AS nvarchar(255))     AS QA,
    t.startdate                     AS START_DATE,
    t.status                        AS STATUS,
    CAST(NULL AS nvarchar(255))     AS STATUS_CODE,
    CAST(NULL AS nvarchar(255))     AS TRACKING_NUMBER,
    t.trandate                      AS TRANDATE,
    t.tranid                        AS TRANID,
    CAST(NULL AS nvarchar(255))     AS TRANSACTION_EXTID,
    t.id                            AS TRANSACTION_ID,
    t.transactionnumber             AS TRANSACTION_NUMBER,
    CAST(NULL AS nvarchar(255))     AS TRANSACTION_PARTNER,
    CAST(NULL AS nvarchar(255))     AS TRANSACTION_PURPOSE,
    t.sourcetransaction             AS TRANSACTION_SOURCE,
    t.recordtype                    AS TRANSACTION_TYPE,
    CAST(NULL AS nvarchar(255))     AS TRANSACTION_WEBSITE,
    CAST(NULL AS bigint)            AS TRANSFER_LOCATION,
    CAST(NULL AS bigint)            AS TRANSFER_STATUS_ID,
    CAST(NULL AS bigint)            AS VENDOR_ID,
    CAST(NULL AS nvarchar(255))     AS VENDOR_NUMBER,
    t.custbody_ccc_po_fully_approved AS FULLY_APPROVED,
    t.custbody_ccc_po_last_approved_by AS LAST_APPROVED_BY_ID,
    t.custbody_ccc_po_last_approved_on AS LAST_APPROVED_ON,
    CAST(NULL AS nvarchar(255))     AS PO_APPROVAL_RESET,
    CAST(NULL AS nvarchar(255))     AS PO_APPROVAL_ROUTE,
    CAST(NULL AS nvarchar(255))     AS PO_APPROVAL_THRESHOLD_,
    CAST(NULL AS nvarchar(255))     AS PO_APPROVAL_WORKFLOW_ID,
    t.custbody_ccc_po_created_from_data AS PO_CREATED_FROM_DATA,
    CAST(NULL AS nvarchar(255))     AS REJECTION_REASON,
    CAST(NULL AS bigint)            AS REQUESTOR_ID,
    t.custbody_ccc_bin_xfer_inv_status_val AS BIN_TRANSFER_INVENTORY_STATUS,
    CAST(NULL AS nvarchar(255))     AS PO_PREVIOUSLY_APPROVED,
    CAST(NULL AS nvarchar(255))     AS SHOPIFY_NEW_CUSTOMER,
    CAST(NULL AS nvarchar(255))     AS SHOPIFY_SUBSCRIPTION,
    CAST(NULL AS nvarchar(255))     AS STOP_,
    CAST(NULL AS int)               AS TOTAL_NUMBER_OF_ITEM_LINES,
    t.custbody_10184_customer_entity_bank AS ENTITY_BANK_CUSTOMER_ID,
    CAST(NULL AS nvarchar(255))     AS SHOPIFY_TAGS,
    CAST(NULL AS decimal(18,4))     AS TOTAL_ITEM_WEIGHT_LBS,
    CAST(NULL AS nvarchar(255))     AS VENDOR_ADDRESS_CODE,
    CAST(NULL AS nvarchar(255))     AS VENDOR_ADDRESS_QUALIFIER,
    CAST(NULL AS bigint)            AS RELATED_PURCHASE_ORDER_ID,
    t.custbody_ccc_customer_notes   AS CUSTOMER_NOTES,
    t.custbody_ccc_bypas_local_delivery AS BYPASS_LOCAL_DELIVERY,
    t.custbody_ccc_no_olx_delivery_tag AS NO_OLX_DELIVERY_TAG,
    CAST(NULL AS nvarchar(255))     AS SALES_ORDER_IS_DELIVERED,
    CAST(NULL AS decimal(18,4))     AS TOTAL_ITEM_COMMITTED_QUANTITY,
    CAST(NULL AS decimal(18,4))     AS TOTAL_ITEM_QUANTITY,
    t.custbody_marketing_order_type AS MARKETING_ORDER_TYPE_ID
FROM [Source_NetSuite].[ns2].[transaction] t;
GO
/****** Object:  View [dbo].[NetSuite2_View_Transaction_Lines]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[NetSuite2_View_Transaction_Lines]
AS

--1) ACCOUNT_ID sourced through ns2.TransactionAccountingLine and then joined to ns2.Account

SELECT
    tal.account AS ACCOUNT_ID,
    tl.netamount AS AMOUNT,
    tl.bomquantity AS BOM_QUANTITY,
    tl.class AS CLASS_ID,
    tl.assemblycomponent AS COMPONENT_ID,
    tl.componentyield AS COMPONENT_YIELD,
    tl.custcol_sps_tp_conversion_rate AS CONVERSION_RATE,
    tl.costestimatetype AS COST_ESTIMATE_TYPE,
    tl.createdfrom AS CREATED_FROM,
    tl.cleareddate AS DATE_CLEARED,
    tl.closedate AS DATE_CLOSED,
    tl.linecreateddate AS DATE_CREATED,
    tl.custcol_sps_departmentdescription AS DEPARTMENT_DESCRIPTION,
    tl.department AS DEPARTMENT_ID,
    tl.custcol_sps_department AS DEPT_CODE,
    CAST(NULL AS bigint) AS EXPENSE_CATEGORY_ID,
    CAST(NULL AS nvarchar(255)) AS GL_NUMBER,
    CAST(NULL AS int) AS GL_SEQUENCE,
    CAST(NULL AS bigint) AS GL_SEQUENCE_ID,
    CAST(NULL AS decimal(18,4)) AS GROSS_AMOUNT,
    tl.hascostline AS HAS_COST_LINE,
    tl.cleared AS ISCLEARED,
    CAST(NULL AS bit) AS IS_LANDED_COST,
    CAST(NULL AS bit) AS IS_ORDER_LINE_ITEM,
    CAST(NULL AS bit) AS IS_SCRAP,
    tl.quantity AS ITEM_COUNT,
    tl.item AS ITEM_ID,
    tl.itemsource AS ITEM_SOURCE,
    tl.custcol_ccc_ehub_item_price AS ITEM_UNIT_PRICE,
    CAST(NULL AS decimal(18,4)) AS ITEM_WEIGHT,
    tl.kitcomponent AS KIT_PART_NUMBER,
    tl.landedcostsourcelineid AS LANDED_COST_SOURCE_LINE_ID,
    CAST(NULL AS bigint) AS LANDED_COST_TEMPLATE_ID,
    tl.location AS LOCATION_ID,
    tl.custcol_ccc_lot_number AS LOT_NUMBER,
    tl.memo AS MEMO,
    tl.periodclosed AS PERIOD_CLOSED,
    tl.subsidiary AS SUBSIDIARY_ID,
    CAST(NULL AS datetime) AS TRANSACTION_DATE,
    tl.[transaction] AS TRANSACTION_ID,
    tl.id AS TRANSACTION_LINE_ID,
    CAST(NULL AS int) AS TRANSACTION_ORDER,
    tl.transferorderitemlineid AS TRANSFER_ORDER_ITEM_LINE,
    tl.transactionlinetype AS TRANSFER_ORDER_LINE_TYPE,
    tl.uniquekey AS UNIQUE_KEY,
    tl.units AS UNIT_OF_MEASURE_ID,
    tl.custcol_sps_upc AS UPC,
    CAST(NULL AS varbinary(8000)) AS CheckSumVal,
    tl.custcol_sps_uom_qty_converted AS UNIT_QTY_CONVERTED,
    tl.custcol_ccc_is_item_line AS IS_ITEM_LINE,
    tl.custcol_ccc_item_weight_lbs AS ITEM_WEIGHT_LBS,
    tl.custcol_ccc_total_item_weight_lbs AS TOTAL_ITEM_WEIGHT_LBS,
    CAST(NULL AS decimal(18,4)) AS GROSS_AMOUNT1,
    CAST(NULL AS decimal(18,4)) AS GROSS_AMOUNT_0,
    CAST(NULL AS decimal(18,4)) AS NET_WEIGHT,
    tl.custcol_sps_orderqtyuom AS UNIT_OF_MEASURE
FROM [Source_NetSuite].[ns2].[transactionLine] tl
INNER JOIN [Source_NetSuite].[ns2].[TransactionAccountingLine] tal
    ON tl.[transaction] = tal.[transaction]
   AND tl.id = tal.transactionline;
GO
/****** Object:  View [dbo].[NetSuite2_View_TransactionsJoin]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[NetSuite2_View_TransactionsJoin]
AS


--1) ACCOUNT_ID sourced through ns2.TransactionAccountingLine and then joined to ns2.Account

SELECT
    vt.TRANID,
    vt.TRANSACTION_NUMBER,
    vt.TRANSACTION_TYPE AS [Type],
    vt.TRANDATE AS [Date],
    vap.PERIOD,
    vap.[YEAR],
    vt.CREATED_FROM_ID AS SalesOrderNum,
    tal.account AS ACCOUNT_ID,
    a.acctnumber AS Account,
    a.accountsearchdisplayname AS AccountName,
    vtl.ITEM_COUNT AS Qty,
    vi.BARS AS BarCount,
    vi.BARS * vtl.ITEM_COUNT AS Bars,
    vtl.AMOUNT AS Amount,
    vi.FULL_NAME AS Item,
    vi.DISPLAYNAME AS ItemDesc,
    vi.TYPE_NAME AS ItemType,
    c.FULLNAME AS Class,
    ci.FULLNAME AS ItemClass
FROM [Finance].[dbo].[NetSuite2_View_Transactions] vt
INNER JOIN [Finance].[dbo].[NetSuite2_View_Transaction_Lines] vtl
    ON vtl.TRANSACTION_ID = vt.TRANSACTION_ID
INNER JOIN [Source_NetSuite].[ns2].[TransactionAccountingLine] tal
    ON vtl.TRANSACTION_ID = tal.[transaction]
   AND vtl.TRANSACTION_LINE_ID = tal.transactionline
LEFT JOIN [Source_NetSuite].[ns2].[Account] a
    ON tal.account = a.id
LEFT JOIN [Finance].[dbo].[NetSuite2_View_Items] vi
    ON vi.ITEM_ID = vtl.ITEM_ID
INNER JOIN [Finance].[dbo].[NetSuite2_View_AccountingPeriod] vap
    ON vt.ACCOUNTING_PERIOD_ID = vap.ACCOUNTING_PERIOD_ID
LEFT JOIN [Finance].[dbo].[Classification] c
    ON vtl.CLASS_ID = c.ID
LEFT JOIN [Finance].[dbo].[Classification] ci
    ON vi.PRODUCT_CLASS_ID = ci.ID
WHERE
    vap.[YEAR] >= 2023;
GO
/****** Object:  View [dbo].[NetSuite2_View_FutureOrderSupplyVisibility]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[NetSuite2_View_FutureOrderSupplyVisibility]
AS

WITH SalesOrderLines AS
(
    SELECT
        t.id AS SalesOrderTransactionID,
        tl.id AS SalesOrderLineID,
        t.trandate AS SalesOrderDate,
        t.tranid AS SalesOrderID,
        t.custbody_bb_planned_ship_date AS PlannedShipDate,
        t.custbodymabd_date AS MABD,

        ts.fullname AS SalesOrderStatus,
        ts.id AS SalesOrderStatusID,

        c.id AS CustomerID,
        c.fullname AS CustomerName,
        c.entityid AS CustomerEntityID,
        cc.name AS CustomerCategory,

        tl.item AS ItemID,
        i.fullname AS ItemFullName,
        COALESCE(
            i.displayname,
            i.description,
            i.purchasedescription
        ) AS ItemDescription,

        tl.location AS SalesOrderLocationID,
        l.fullname AS SalesOrderLocation,

        tl.quantity AS QuantityOrdered,
        COALESCE(tl.quantitycommitted, 0) AS QuantityCommitted,
        COALESCE(tl.quantityallocated, 0) AS QuantityAllocated,
        COALESCE(tl.quantitydemandallocated, 0)
            AS QuantityDemandAllocated,
        COALESCE(tl.quantitybackordered, 0)
            AS NetSuiteBackorderedQty,

        COALESCE(tl.quantitypicked, 0) AS QuantityPicked,
        COALESCE(tl.quantitypacked, 0) AS QuantityPacked,
        tl.isclosed AS IsClosed,
        tl.netamount AS LineAmount

    FROM Source_NetSuite.ns2.[transaction] t

    INNER JOIN Source_NetSuite.ns2.Customer c
        ON c.id = t.entity

    INNER JOIN Source_NetSuite.ns2.transactionLine tl
        ON tl.[transaction] = t.id

    INNER JOIN Source_NetSuite.ns2.item i
        ON i.id = tl.item

    INNER JOIN Source_NetSuite.ns2.transactionstatus ts
        ON ts.id = t.status

    LEFT JOIN Source_NetSuite.ns2.Location l
        ON l.id = tl.location

    LEFT JOIN Source_NetSuite.ns2.customerCategory cc
        ON cc.id = c.category

    WHERE t.recordtype = 'salesorder'
      AND tl.item IS NOT NULL
      AND ts.fullname IN
      (
          'Sales Order : Pending Approval',
          'Sales Order : Pending Fulfillment',
          'Sales Order : Pending Billing',
          'Sales Order : Pending Billing/Partially Fulfilled'
      )
),

InventoryByItemLocation AS
(
    SELECT
        ITEM_ID,
        LOCATION_ID,
        SUM(COALESCE(OnHand, 0)) AS OnHandQty,
        SUM(COALESCE(Available, 0)) AS AvailableQty,
        SUM(COALESCE(OnOrder, 0)) AS OnOrderQty
    FROM dbo.NetSuite2_View_InventoryOnHand
    GROUP BY
        ITEM_ID,
        LOCATION_ID
),

TransferOrderLines AS
(
    SELECT
        t.id AS TransferOrderTransactionID,
        t.tranid AS TransferOrderID,
        t.trandate AS TransferOrderDate,
        t.status AS TransferOrderStatusID,
        ts.fullname AS TransferOrderStatus,

        tl.id AS TransferOrderLineID,
        tl.item AS ItemID,

        /*
          Confirm location mapping:
          t.location may be source location.
          tl.location may be destination location.
        */
        t.location AS FromLocationID,
        tl.location AS ToLocationID,

        COALESCE(tl.quantity, 0) AS TransferOrderQty,
        COALESCE(tl.quantitypicked, 0) AS TransferPickedQty,

        CASE
            WHEN ABS(COALESCE(tl.quantity, 0))
                 - ABS(COALESCE(tl.quantitypicked, 0)) > 0
            THEN ABS(COALESCE(tl.quantity, 0))
                 - ABS(COALESCE(tl.quantitypicked, 0))
            ELSE 0
        END AS OpenTransferQty

    FROM Source_NetSuite.ns2.[transaction] t

    INNER JOIN Source_NetSuite.ns2.transactionLine tl
        ON tl.[transaction] = t.id

    INNER JOIN Source_NetSuite.ns2.transactionstatus ts
        ON ts.id = t.status

    WHERE t.recordtype IN ('transfer', 'transferorder')
      AND tl.item IS NOT NULL
      AND ts.fullname LIKE '%Transfer%'
      AND ts.fullname NOT LIKE '%Closed%'
      AND ts.fullname NOT LIKE '%Received%'
),

TransferSupplyByItemLocation AS
(
    SELECT
        ItemID,
        ToLocationID,
        SUM(OpenTransferQty) AS OpenTransferQty,
        COUNT(DISTINCT TransferOrderTransactionID)
            AS OpenTransferOrderCount,
        MIN(TransferOrderDate)
            AS EarliestTransferOrderDate,
        STRING_AGG(
            CAST(TransferOrderID AS varchar(max)),
            ', '
        ) AS RelatedTransferOrders
    FROM TransferOrderLines
    WHERE OpenTransferQty > 0
    GROUP BY
        ItemID,
        ToLocationID
),

WorkOrderBase AS
(
    /*
      IMPORTANT:
      This assumes t.custbody_wo_assembly contains the finished
      assembly Item ID.

      If it does not, replace this logic with the confirmed
      work-order main/output line.
    */
    SELECT
        t.id AS WorkOrderTransactionID,
        t.tranid AS WorkOrderID,
        t.trandate AS WorkOrderDate,
        t.startdate AS StartDate,
        t.enddate AS EndDate,

        t.custbody_wo_assembly AS ItemID,
        t.status AS WorkOrderStatusID,
        ts.fullname AS WorkOrderStatus,

        t.location AS WorkOrderLocationID,

        MAX(COALESCE(tl.quantity, 0)) AS WorkOrderUnits,
        MAX(COALESCE(vabs.Units, 0)) AS UnitsProduced,

        CASE
            WHEN MAX(COALESCE(tl.quantity, 0))
                 - MAX(COALESCE(vabs.Units, 0)) > 0
            THEN MAX(COALESCE(tl.quantity, 0))
                 - MAX(COALESCE(vabs.Units, 0))
            ELSE 0
        END AS UnitsRemaining

    FROM Source_NetSuite.ns2.[transaction] t

    INNER JOIN Source_NetSuite.ns2.transactionLine tl
        ON tl.[transaction] = t.id

    LEFT JOIN Source_NetSuite.ns2.transactionstatus ts
        ON ts.id = t.status

    LEFT JOIN dbo.NetSuite2_View_AssemblyBuildSum vabs
        ON vabs.CREATED_FROM_ID = t.id

    WHERE t.recordtype = 'workorder'
      AND t.status IN ('A', 'B', 'C', 'H', 'Y', 'D')

    GROUP BY
        t.id,
        t.tranid,
        t.trandate,
        t.startdate,
        t.enddate,
        t.custbody_wo_assembly,
        t.status,
        ts.fullname,
        t.location
),

WorkOrderSupplyByItemLocation AS
(
    SELECT
        ItemID,
        WorkOrderLocationID,

        SUM
        (
            CASE
                WHEN WorkOrderStatus LIKE '%Planned%'
                THEN UnitsRemaining
                ELSE 0
            END
        ) AS PlannedWOQty,

        SUM
        (
            CASE
                WHEN WorkOrderStatus NOT LIKE '%Planned%'
                 AND WorkOrderStatus NOT LIKE '%Closed%'
                 AND WorkOrderStatus NOT LIKE '%Built%'
                THEN UnitsRemaining
                ELSE 0
            END
        ) AS ActiveWOQty,

        MIN
        (
            CASE
                WHEN UnitsRemaining > 0
                THEN EndDate
            END
        ) AS EarliestWOCompletionDate,

        STRING_AGG(
            CAST(WorkOrderID AS varchar(max)),
            ', '
        ) AS RelatedWorkOrders

    FROM WorkOrderBase
    WHERE UnitsRemaining > 0
    GROUP BY
        ItemID,
        WorkOrderLocationID
)

SELECT
    so.SalesOrderTransactionID,
    so.SalesOrderLineID,
    so.SalesOrderDate,
    so.SalesOrderID,
    so.PlannedShipDate,
    so.MABD,
    so.SalesOrderStatus,

    so.CustomerID,
    so.CustomerName,
    so.CustomerEntityID,
    so.CustomerCategory,

    so.ItemID,
    so.ItemFullName,
    so.ItemDescription,

    so.SalesOrderLocationID,
    so.SalesOrderLocation,

    so.QuantityOrdered,
    so.QuantityCommitted,
    so.QuantityAllocated,
    so.QuantityDemandAllocated,
    so.NetSuiteBackorderedQty,

    COALESCE(inv.OnHandQty, 0) AS OnHandAtOrderLocation,
    COALESCE(inv.AvailableQty, 0) AS AvailableAtOrderLocation,
    COALESCE(inv.OnOrderQty, 0) AS OnOrderAtOrderLocation,

    COALESCE(tr.OpenTransferQty, 0) AS CandidateTransferQty,
    tr.OpenTransferOrderCount,
    tr.EarliestTransferOrderDate,
    tr.RelatedTransferOrders,

    COALESCE(wo.ActiveWOQty, 0) AS CandidateActiveWOQty,
    COALESCE(wo.PlannedWOQty, 0) AS CandidatePlannedWOQty,
    wo.EarliestWOCompletionDate,
    wo.RelatedWorkOrders,

    CASE
        WHEN NULLIF(ABS(so.QuantityOrdered), 0) IS NULL
        THEN 0
        ELSE
            ABS(so.QuantityCommitted)
            / NULLIF(ABS(so.QuantityOrdered), 0)
    END AS CommittedPercent,

    CASE
        WHEN NULLIF(ABS(so.QuantityOrdered), 0) IS NULL
        THEN 0
        ELSE
            ABS(so.QuantityAllocated)
            / NULLIF(ABS(so.QuantityOrdered), 0)
    END AS AllocatedPercent,

    CASE
        WHEN
            ABS(so.QuantityOrdered)
            - ABS(so.QuantityAllocated) > 0
        THEN
            ABS(so.QuantityOrdered)
            - ABS(so.QuantityAllocated)
        ELSE 0
    END AS CalculatedAllocationGapQty,

    CASE
        WHEN
            COALESCE(inv.AvailableQty, 0)
            + COALESCE(tr.OpenTransferQty, 0)
            + COALESCE(wo.ActiveWOQty, 0)
            + COALESCE(wo.PlannedWOQty, 0)
            < ABS(so.QuantityOrdered)
        THEN
            ABS(so.QuantityOrdered)
            -
            (
                COALESCE(inv.AvailableQty, 0)
                + COALESCE(tr.OpenTransferQty, 0)
                + COALESCE(wo.ActiveWOQty, 0)
                + COALESCE(wo.PlannedWOQty, 0)
            )
        ELSE 0
    END AS CandidateUncoveredQty,

    CASE
        WHEN
            ABS(so.QuantityCommitted)
                >= ABS(so.QuantityOrdered)
        THEN 'Committed from inventory'

        WHEN
            COALESCE(inv.AvailableQty, 0)
                >= ABS(so.QuantityOrdered)
        THEN 'Inventory available'

        WHEN
            COALESCE(inv.AvailableQty, 0)
            + COALESCE(tr.OpenTransferQty, 0)
                >= ABS(so.QuantityOrdered)
        THEN 'Potentially covered by transfer'

        WHEN
            COALESCE(inv.AvailableQty, 0)
            + COALESCE(tr.OpenTransferQty, 0)
            + COALESCE(wo.ActiveWOQty, 0)
                >= ABS(so.QuantityOrdered)
        THEN 'Potentially covered by active WO'

        WHEN
            COALESCE(inv.AvailableQty, 0)
            + COALESCE(tr.OpenTransferQty, 0)
            + COALESCE(wo.ActiveWOQty, 0)
            + COALESCE(wo.PlannedWOQty, 0)
                >= ABS(so.QuantityOrdered)
        THEN 'Potentially covered by planned WO'

        ELSE 'No sufficient supply identified'
    END AS CandidateSupplyStatus

FROM SalesOrderLines so

LEFT JOIN InventoryByItemLocation inv
    ON inv.ITEM_ID = so.ItemID
   AND inv.LOCATION_ID = so.SalesOrderLocationID

LEFT JOIN TransferSupplyByItemLocation tr
    ON tr.ItemID = so.ItemID
   AND tr.ToLocationID = so.SalesOrderLocationID

LEFT JOIN WorkOrderSupplyByItemLocation wo
    ON wo.ItemID = so.ItemID
   AND wo.WorkOrderLocationID = so.SalesOrderLocationID

WHERE
    ABS(COALESCE(so.QuantityCommitted, 0))
        < ABS(COALESCE(so.QuantityOrdered, 0))
    OR
    ABS(COALESCE(so.QuantityAllocated, 0))
        < ABS(COALESCE(so.QuantityOrdered, 0));
GO
/****** Object:  View [dbo].[NetSuite2_View_Assemblies]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[NetSuite2_View_Assemblies]
AS
SELECT
    t.tranid,
    t.trandate,
    t.recordtype AS TRANSACTION_TYPE,
    i.fullname AS FULL_NAME,
    CASE
        WHEN NULLIF(LTRIM(RTRIM(i.displayname)), '') IS NOT NULL
         AND NULLIF(LTRIM(RTRIM(i.description)), '') IS NOT NULL
            THEN i.displayname + ' - ' + i.description
        WHEN NULLIF(LTRIM(RTRIM(i.displayname)), '') IS NOT NULL
            THEN i.displayname
        ELSE i.description
    END AS DISPLAYNAME,
    tl.quantity AS ITEM_COUNT,
    tl.netamount AS AMOUNT,
    tl.custcol_ccc_lot_number AS LOT_NUMBER
FROM [Source_NetSuite].[ns2].[transaction] t
	INNER JOIN [Source_NetSuite].[ns2].[transactionLine] tl ON tl.[transaction] = t.id
	LEFT JOIN [Source_NetSuite].[ns2].[item] i ON i.id = tl.item
WHERE
    t.trandate >= '2024-11-01'
    AND t.recordtype IN ('workorder', 'assemblybuild');
GO
/****** Object:  View [dbo].[NetSuite2_View_AssembliesLotCode]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








 

CREATE   VIEW [dbo].[NetSuite2_View_AssembliesLotCode]
AS

--1) ACCOUNT_ID sourced through ns2.TransactionAccountingLine and then joined to ns2.Account
--2) ItemDescription changed to:
--     COALESCE(i.displayname, i.description, i.purchasedescription)
--3) ns2.InventoryAssignment -> ns2.InventoryNumber has a direct inventorynumber column, plus transaction, transactionline, and quantity (USE TL FOR QTY), 
--  so it is a much closer replacement for retired TRANSACTION_INVENTORY_NUMBERS 

SELECT
    ap.enddate AS PeriodEnding,
    t.trandate AS [Date],
    t.tranid AS DocumentNumber,
    t.memo,
    t.recordtype AS TransactionType,
    t.createddate AS CREATE_DATE,
    t.custbody_wo_assembly AS AssemblyItem,

    --CAST(NULL AS decimal(18,4)) AS Quantity,
	--SUM(ia.quantity) As Quantity, --!!USE QUANTITY FROM TRANSACTIONLINE
	SUM(
    CASE
        WHEN t.custbody_wo_assembly = i.fullname THEN ia.quantity
        ELSE -1 * ia.quantity
    END
) As Quantity,

    CASE
        WHEN t.custbody_wo_assembly = i.fullname THEN 'OUTPUT'
        ELSE 'CONSUMPTION'
    END AS EntryType,

    CASE
        WHEN i.unitstype = 2 THEN 'EA'
        WHEN i.unitstype = 1 THEN 'KG'
        ELSE ''
    END AS UOM,

    CASE
        WHEN a.acctnumber = '121050' THEN 'FG'
        WHEN a.acctnumber = '121020' THEN 'Packaging'
        WHEN a.acctnumber = '121010' THEN 'Ingredient'
        WHEN a.acctnumber = '121060' AND i.custitem_bars <= 1 THEN 'Bar'
        WHEN i.itemtype = 'Assembly' AND i.unitstype = 1 THEN 'Batch'
        ELSE ''
    END AS ItemGroup,

    --CAST(NULL AS nvarchar(255)) AS INVENTORY_NUMBER,
	inu.inventorynumber AS INVENTORY_NUMBER,  
    tl.netamount AS AMOUNT,
    tl.item AS ItemID,
    i.fullname AS Item,

    COALESCE(
        NULLIF(LTRIM(RTRIM(i.displayname)), ''),
        NULLIF(LTRIM(RTRIM(i.description)), ''),
        NULLIF(LTRIM(RTRIM(i.purchasedescription)), '')
    ) AS ItemDescription,

    i.custitem_bars AS BarCount,
    ln2.name AS LineName
FROM [Source_NetSuite].[ns2].[transaction] t
INNER JOIN [Source_NetSuite].[ns2].[transactionLine] tl
    ON tl.[transaction] = t.id
INNER JOIN [Source_NetSuite].[ns2].[TransactionAccountingLine] tal
    ON tl.[transaction] = tal.[transaction]
   AND tl.id = tal.transactionline
LEFT JOIN [Source_NetSuite].[ns2].[Account] a
    ON tal.account = a.id
INNER JOIN [Source_NetSuite].[ns2].[item] i
    ON tl.item = i.id
INNER JOIN [Source_NetSuite].[ns2].[accountingPeriod] ap
    ON t.postingperiod = ap.id
LEFT JOIN [Source_NetSuite].[ns2].[CUSTOMLIST_WO_LINE_NO] ln2
    ON t.custbody_wo_line_no = ln2.id 
INNER JOIN [Source_NetSuite].[ns2].[InventoryAssignment] ia
    ON ia.[transaction] = t.id
   AND ia.transactionline = tl.id
LEFT JOIN [Source_NetSuite].[ns2].[inventoryNumber] inu
    ON inu.id = ia.inventorynumber
LEFT JOIN [Source_NetSuite].[ns2].[TransactionBinNumbers] tbn
    ON tbn.[transaction] = t.id
   AND tbn.transactionline = tl.id
WHERE
    t.trandate >= '2026-04-01'
    AND t.recordtype IN ('assemblybuild', 'assemblyunbuild')
GROUP BY
    ap.enddate,
    t.trandate,
    t.tranid,
    t.createddate,
    t.memo,
    t.recordtype,
    t.custbody_wo_assembly,
    tl.netamount,
    tl.item,
    i.fullname,
    COALESCE(
        NULLIF(LTRIM(RTRIM(i.displayname)), ''),
        NULLIF(LTRIM(RTRIM(i.description)), ''),
        NULLIF(LTRIM(RTRIM(i.purchasedescription)), '')
    ),
    i.unitstype,
    a.acctnumber,
    i.custitem_bars,
    i.itemtype,
    ln2.name,
	ia.quantity,
	inu.inventorynumber;
GO
/****** Object:  View [dbo].[NetSuite2_View_BarsProdSummary]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[NetSuite2_View_BarsProdSummary]
AS

SELECT
    MONTH(t.trandate)      AS Period,
    t.trandate             AS Trandate,
    t.recordtype           AS TransType,
    t.custbody_wo_assembly AS AssemblyItem,
    a.externalid           AS Account,
    a.accountsearchdisplaynamecopy AS AccountName,
    SUM(tl.quantity)       AS Units,
    SUM(tl.quantity * i.custitem_bars) AS Bars,
    SUM(tl.netamount)      AS Amount

FROM [Source_NetSuite].[ns2].[transaction] AS t
INNER JOIN [Source_NetSuite].[ns2].[transactionLine] AS tl
    ON tl.[transaction] = t.id
INNER JOIN [Source_NetSuite].[ns2].[Item] AS i
    ON i.id = tl.item
INNER JOIN [Source_NetSuite].[ns2].[Account] AS a
    ON i.assetaccount = a.id

WHERE
    t.trandate >= '2024-01-01'
    AND t.trandate <= '2024-02-29'
    AND t.recordtype IN ('assemblybuild', 'assemblyunbuild')
    AND a.externalid IN ('121060', '121050')
    AND i.custitem_bars IS NOT NULL

GROUP BY
    MONTH(t.trandate),
    t.trandate,
    t.recordtype,
    t.custbody_wo_assembly,
    a.externalid,
    i.custitem_bars,
    a.accountsearchdisplaynamecopy;

GO
/****** Object:  View [dbo].[NetSuite2_View_BarsProduced]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[NetSuite2_View_BarsProduced]
AS

SELECT
    MONTH(t.trandate)          AS Period,
    t.trandate                 AS Trandate,
    t.recordtype               AS TransType,
    t.custbody_wo_assembly     AS AssemblyItem,
    i.fullname                 AS Item,
    COALESCE(
        NULLIF(LTRIM(RTRIM(i.displayname)), ''),
        NULLIF(LTRIM(RTRIM(i.description)), ''),
        NULLIF(LTRIM(RTRIM(i.purchasedescription)), '')
        )                      AS ItemDesc,
    i.itemtype                 AS ItemType,
    a.externalid               AS Account,
    a.accountsearchdisplayname AS AccountName,
    ISNULL(i.custitem_bars, 0) AS BarCount,
    CASE
        WHEN t.custbody_wo_assembly = i.fullname THEN 'OUTPUT'
        ELSE 'CONSUMPTION'
    END                        AS EntryType,
    CASE 
        WHEN i.unitstype = 2 THEN 'EA'
        WHEN i.unitstype = 1 THEN 'KG'
        ELSE ''
    END AS UOM,
    CASE 
        WHEN a.externalid = '121050' THEN 'FG'
        WHEN a.externalid = '121020' THEN 'Packaging'
        WHEN a.externalid = '121010' THEN 'Ingredient'
        WHEN a.externalid = '121060' AND i.custitem_bars <= 1 THEN 'Bar'
        WHEN i.itemtype = 'Assembly' AND i.unitstype = 1 THEN 'Batch'
        ELSE ''
    END                       AS ItemGroup,
    SUM(tl.quantity)          AS Units,
    SUM(tl.quantity * ISNULL(i.custitem_bars, 0)) AS Bars,
    SUM(tl.netamount)         AS Amount

FROM [Source_NetSuite].[ns2].[transaction]   AS t
INNER JOIN [Source_NetSuite].[ns2].[transactionLine] AS tl
    ON t.id = tl.[transaction] 
INNER JOIN [Source_NetSuite].[ns2].[Item]    AS i
    ON i.id = tl.item
INNER JOIN [Source_NetSuite].[ns2].[Account] AS a
    ON a.id = i.assetaccount

WHERE
    t.trandate >= '2025-01-01'
    AND t.recordtype IN ('assemblybuild', 'assemblyunbuild')

GROUP BY
    MONTH(t.trandate),
    t.trandate,
    t.recordtype,
    t.custbody_wo_assembly,
    i.fullname,
    COALESCE(
        NULLIF(LTRIM(RTRIM(i.displayname)), ''),
        NULLIF(LTRIM(RTRIM(i.description)), ''),
        NULLIF(LTRIM(RTRIM(i.purchasedescription)), '')
        ),
    i.itemtype,
    a.externalid,
    a.accountsearchdisplayname,
    i.custitem_bars,
    i.unitstype;

GO
/****** Object:  View [dbo].[NetSuite2_View_BarsSold]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE   VIEW [dbo].[NetSuite2_View_BarsSold]
AS

SELECT CAST(t.trandate AS date)					AS Trandate,
	   sc.[name]								AS Sales_Channel,
	   SUM(ABS(tl.quantity))					AS Total_Units,
	   SUM(ABS(tl.quantity)*i.custitem_bars)	AS Total_Bars

  FROM Source_NetSuite.ns2.[transaction]		AS t
 INNER JOIN Source_NetSuite.ns2.transactionLine AS tl 
	    ON t.id = tl.[transaction]
 INNER JOIN Source_NetSuite.ns2.TransactionAccountingLine AS tal
	    ON tal.[transaction] = tl.[transaction]
	    AND tl.id = tal.transactionline
 INNER JOIN Source_NetSuite.ns2.item			AS i
	    ON i.id = tl.item
 INNER JOIN Source_NetSuite.ns2.Account			AS a
	    ON a.id = tal.account
 LEFT JOIN Source_NetSuite.ns2.customer			AS c
		ON c.id = t.entity
 LEFT JOIN Source_NetSuite.ns2.[classification] AS cl
		ON cl.id = c.custentity_ccc_cust_class_sales_chan
 LEFT JOIN [Source_NetSuite].[ns2].[CUSTOMRECORD_CSEG_BB_SALES_CHANN] AS sc
		ON sc.id = c.cseg_bb_sales_chann

 WHERE t.trandate >= '2023-07-01'
	    AND t.posting = 'T'
	    AND t.recordtype NOT IN ('itemfulfillment', 'salesorder', 'returnauthorization')
	    AND a.acctnumber IN ('400000', '400400')
	    AND t.entity NOT IN ('2153349', '2318361')
	    AND i.custitem_bars >= 1
		AND i.custitemitem_category = 1

 GROUP BY CAST(t.trandate AS date),
		sc.[name];

GO
/****** Object:  View [dbo].[NetSuite2_View_Batchyield]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE   VIEW [dbo].[NetSuite2_View_Batchyield] AS

WITH base_tx AS (
    SELECT
        t.id,
        t.trandate,
        t.tranid,
        t.memo,
        t.recordtype,
        t.createddate,
        t.custbody_wo_assembly,
        t.postingperiod,
        t.custbody_wo_line_no
    FROM [Source_NetSuite].[ns2].[transaction] t
    WHERE t.trandate >= '2026-04-01'
      AND t.recordtype IN ('assemblybuild', 'assemblyunbuild')
),

base_tl AS (
    SELECT 
        tl.id,
        tl.[transaction],
        tl.item,
        tl.quantity,
        tl.netamount
    FROM [Source_NetSuite].[ns2].[transactionLine] tl
)

SELECT
    ap.enddate AS PeriodEnding,
    t.trandate AS [Date],
    t.tranid AS DocumentNumber,
    t.memo,
    t.recordtype AS TransactionType,
    t.createddate AS CREATE_DATE,
    t.custbody_wo_assembly AS AssemblyItem,

    /* Added quatity */
    tl.quantity AS Quantity,

    CASE
        WHEN t.custbody_wo_assembly = i.fullname THEN 'OUTPUT'
        ELSE 'CONSUMPTION'
    END AS EntryType,

    CASE
        WHEN i.unitstype = 2 THEN 'EA'
        WHEN i.unitstype = 1 THEN 'KG'
        ELSE ''
    END AS UOM,

    CASE
        WHEN a.acctnumber = '121050' THEN 'FG'
        WHEN a.acctnumber = '121020' THEN 'Packaging'
        WHEN a.acctnumber = '121010' THEN 'Ingredient'
        WHEN a.acctnumber = '121060' AND i.custitem_bars <= 1 THEN 'Bar'
        WHEN i.itemtype = 'Assembly' AND i.unitstype = 1 THEN 'Batch'
        ELSE ''
    END AS ItemGroup,

    /* added the Inventory Number */
    inv.inventorynumber AS INVENTORY_NUMBER,

    tl.netamount AS AMOUNT,
    tl.item AS ItemID,
    i.fullname AS Item,

    COALESCE(
        NULLIF(LTRIM(RTRIM(i.displayname)), ''),
        NULLIF(LTRIM(RTRIM(i.description)), ''),
        NULLIF(LTRIM(RTRIM(i.purchasedescription)), '')
        ) AS ItemDescription,

    i.custitem_bars AS BarCount,
    ln2.name AS LineName

FROM base_tx t

INNER JOIN base_tl tl
    ON tl.[transaction] = t.id

/* lot level join */
INNER JOIN [Source_NetSuite].[ns2].[InventoryAssignment] isa
    ON isa.[transaction] = tl.[transaction] AND isa.transactionline = tl.id

LEFT JOIN [Source_NetSuite].[ns2].[inventoryNumber] inv
    ON inv.id = isa.inventorynumber

LEFT JOIN [Source_NetSuite].[ns2].[item] i
    ON tl.item = i.id

LEFT JOIN [Source_NetSuite].[ns2].[accountingPeriod] ap
    ON t.postingperiod = ap.id

LEFT JOIN [Source_NetSuite].[ns2].[Account] a
    ON tl.id = a.id

LEFT JOIN [Source_NetSuite].[ns2].[CUSTOMLIST_WO_LINE_NO] ln2
    ON t.custbody_wo_line_no = ln2.id

GO
/****** Object:  View [dbo].[NetSuite2_View_BillOfMaterials]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[NetSuite2_View_BillOfMaterials]
AS
SELECT
    CASE
        WHEN NULLIF(LTRIM(RTRIM(i.displayname)), '') IS NOT NULL
         AND NULLIF(LTRIM(RTRIM(i.description)), '') IS NOT NULL
            THEN i.displayname + ' - ' + i.description
        WHEN NULLIF(LTRIM(RTRIM(i.displayname)), '') IS NOT NULL
            THEN i.displayname
        ELSE i.description
    END AS DISPLAYNAME,

    bom.id AS BILL_OF_MATERIALS_ID,
    bom.createddate AS DateCreatedBOM,
    bom.memo,
    bom.name AS [Assembly/BOMName],

    br.name AS RevName,
    br.createddate AS DateCreatedRev,
    br.effectivestartdate AS DateEffective,
    br.effectiveenddate AS DateObsolete,

    brc.item AS ItemID,
    brc.bomquantity AS Quantity,
    brc.componentyield AS Yield,

    brc.id AS ComponentName,
    brc.units AS UOM,
    brc.itemsource AS ItemSource,

    NULL AS [Item ID Key]
FROM [Source_NetSuite].[ns2].[bom] bom
INNER JOIN [Source_NetSuite].[ns2].[bomRevision] br ON bom.id = br.billofmaterials
INNER JOIN [Source_NetSuite].[ns2].[BomRevisionComponent] brc ON br.id = brc.bomrevision
LEFT JOIN [Source_NetSuite].[ns2].[Item] i ON i.id = brc.item --ORIG JOINS bom.IemID to Item
WHERE
    bom.isinactive = 'F'
    AND br.isinactive = 'F'
    AND br.effectiveenddate IS NULL;
GO
/****** Object:  View [dbo].[NetSuite2_View_LastRevaluationByItem]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE   VIEW [dbo].[NetSuite2_View_LastRevaluationByItem]
AS

SELECT
       MAX(t.id)  AS LastTransaction_ID,
       tl.item    AS ITEM_ID,
       i.fullname AS FULL_NAME,
       COALESCE(i.displayname,i.description,i.purchasedescription) AS DISPLAYNAME,
       t.location AS LOCATION_ID

  FROM 
       [Source_NetSuite].[ns2].[transaction] AS t
 INNER JOIN [Source_NetSuite].[ns2].[transactionLine] AS tl
       ON tl.[transaction] = t.id
 INNER JOIN [Source_NetSuite].[ns2].[Item]   AS i
       ON tl.item = i.id

 WHERE
       t.trandate >= CONVERT(datetime, '2023-12-31 00:00:00', 102)
        AND t.recordtype = 'inventorycostrevaluation'
        AND i.isinactive = 'F'
        AND tl.id = 2

 GROUP BY
       tl.item,
       i.fullname,
       COALESCE(i.displayname,i.description,i.purchasedescription),
       t.location;

GO
/****** Object:  View [dbo].[NetSuite2_View_LotTrace]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[NetSuite2_View_LotTrace]
AS

--1) ACCOUNT_ID sourced through ns2.TransactionAccountingLine and then joined to ns2.Account
--2) ItemDescription changed to:
--     COALESCE(i.displayname, i.description, i.purchasedescription)


SELECT
    t.tranid AS TRANID,
    t.transactionnumber AS TRANSACTION_NUMBER,
    tl.id AS TRANSACTION_LINE_ID,
    t.recordtype AS TRANSACTION_TYPE,
    t.trandate AS TRANDATE,
    t.custbody_wo_assembly AS ASSEMBLY_ITEM,

    tal.account AS ACCOUNT_ID,

    tl.quantity AS ITEM_COUNT,

    ia.quantity AS QUANTITY,

    CAST(NULL AS decimal(18,4)) AS TOTAL_QUANTITY_OF_MEMBERS,
    CAST(NULL AS decimal(18,4)) AS TOTAL_ITEM_QUANTITY_OF_MEMBER,

    tl.quantitypacked AS QTY__PACKED,

    inu.inventorynumber AS INVENTORY_NUMBER,

    tl.custcol_sps_tp_order_qty AS TP_ORDER_QTY,
    tl.custcol_sps_tpqty AS TP_QTY,
    tl.custcol_sps_uom_qty_converted AS UNIT_QTY_CONVERTED,
    tl.quantityallocated AS QUANTITY_ALLOCATED,
    tl.quantitycommitted AS QUANTITY_COMMITTED,
    tl.quantitypacked AS QUANTITY_PACKED,
    tl.quantitypicked AS QUANTITY_PICKED,
    tl.quantityshiprecv AS QUANTITY_RECEIVED_IN_SHIPMENT,
    tl.bomquantity AS BOM_QUANTITY,
    tl.netamount AS AMOUNT,

    CAST(NULL AS decimal(18,4)) AS GROSS_AMOUNT,

    tl.item AS ITEM_ID,
    i.fullname AS FULL_NAME,
    COALESCE(
        NULLIF(LTRIM(RTRIM(i.displayname)), ''),
        NULLIF(LTRIM(RTRIM(i.description)), ''),
        NULLIF(LTRIM(RTRIM(i.purchasedescription)), '')
    ) AS DISPLAYNAME,

    CAST(NULL AS nvarchar(255)) AS EXPENSE_CATEGORY_ID,
    CAST(NULL AS nvarchar(255)) AS GL_NUMBER,

    tl.hascostline AS HAS_COST_LINE,
    tl.iscogs AS IS_COST_LINE,

    ia.inventorystatus AS INVENTORY_STATUS_ID,
    ia.bin AS BIN_ID,
    tbn.binnumber AS TBN_BIN_ID,
    tbn.quantity AS TBN_QUANTITY
FROM [Source_NetSuite].[ns2].[transaction] t
INNER JOIN [Source_NetSuite].[ns2].[transactionLine] tl
    ON tl.[transaction] = t.id
INNER JOIN [Source_NetSuite].[ns2].[TransactionAccountingLine] tal
    ON tl.[transaction] = tal.[transaction]
   AND tl.id = tal.transactionline
INNER JOIN [Source_NetSuite].[ns2].[Item] i
    ON tl.item = i.id
LEFT JOIN [Source_NetSuite].[ns2].[InventoryAssignment] ia
    ON ia.[transaction] = t.id
   AND ia.transactionline = tl.id
LEFT JOIN [Source_NetSuite].[ns2].[inventoryNumber] inu
    ON inu.id = ia.inventorynumber
LEFT JOIN [Source_NetSuite].[ns2].[TransactionBinNumbers] tbn
    ON tbn.[transaction] = t.id
   AND tbn.transactionline = tl.id
WHERE
    t.trandate >= '2025-01-01'
    AND inu.inventorynumber IN ('425044032V7', '425043032V7', '425042031V7');
GO
/****** Object:  View [dbo].[NetSuite2_View_LotTrace_Option2]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[NetSuite2_View_LotTrace_Option2]
AS
SELECT
    t.tranid AS TRANID,
    t.transactionnumber AS TRANSACTION_NUMBER,
    tl.id AS TRANSACTION_LINE_ID,
    t.recordtype AS TRANSACTION_TYPE,
    t.trandate AS TRANDATE,
    t.custbody_wo_assembly AS ASSEMBLY_ITEM,

	
    /* NO ACCOUNT_ID IN TL */
    --tl.account AS ACCOUNT_ID,
    NULL AS ACCOUNT_ID,

    tl.quantity AS ITEM_COUNT,

    /* best replacement for retired TRANSACTION_INVENTORY_NUMBERS.QUANTITY */
    ia.quantity AS QUANTITY,

    /* no confirmed direct replacement found in NetSuite2 schema */
    CAST(NULL AS decimal(18,4)) AS TOTAL_QUANTITY_OF_MEMBERS,
    CAST(NULL AS decimal(18,4)) AS TOTAL_ITEM_QUANTITY_OF_MEMBER,

    /* original had QTY__PACKED and QUANTITY_PACKED separately */
    tl.quantitypacked AS QTY__PACKED,

    /* best replacement for retired TRANSACTION_INVENTORY_NUMBERS.INVENTORY_NUMBER */
    inu.inventorynumber AS INVENTORY_NUMBER,

    tl.custcol_sps_tp_order_qty AS TP_ORDER_QTY,
    tl.custcol_sps_tpqty AS TP_QTY,
    tl.custcol_sps_uom_qty_converted AS UNIT_QTY_CONVERTED,
    tl.quantityallocated AS QUANTITY_ALLOCATED,
    tl.quantitycommitted AS QUANTITY_COMMITTED,
    tl.quantitypacked AS QUANTITY_PACKED,
    tl.quantitypicked AS QUANTITY_PICKED,
    tl.quantityshiprecv AS QUANTITY_RECEIVED_IN_SHIPMENT,
    tl.bomquantity AS BOM_QUANTITY,
    tl.netamount AS AMOUNT,

    /* no mapped replacement in screenshot */
    CAST(NULL AS decimal(18,4)) AS GROSS_AMOUNT,

    tl.item AS ITEM_ID,
    i.fullname AS FULL_NAME,
    CASE
        WHEN NULLIF(LTRIM(RTRIM(i.displayname)), '') IS NOT NULL
         AND NULLIF(LTRIM(RTRIM(i.description)), '') IS NOT NULL
            THEN i.displayname + ' - ' + i.description
        WHEN NULLIF(LTRIM(RTRIM(i.displayname)), '') IS NOT NULL
            THEN i.displayname
        ELSE i.description
    END AS DISPLAYNAME,

    /* no mapped replacements in screenshot */
    CAST(NULL AS nvarchar(255)) AS EXPENSE_CATEGORY_ID,
    CAST(NULL AS nvarchar(255)) AS GL_NUMBER,

    tl.hascostline AS HAS_COST_LINE,
    tl.iscogs AS IS_COST_LINE,

    /* helpful extra trace columns from better-fit NetSuite2 tables */
    ia.inventorystatus AS INVENTORY_STATUS_ID,
    ia.bin AS BIN_ID,
    tbn.binnumber AS TBN_BIN_ID,
    tbn.quantity AS TBN_QUANTITY
FROM [Source_NetSuite].[ns2].[transaction] t
	INNER JOIN [Source_NetSuite].[ns2].[transactionLine] tl ON tl.[transaction] = t.id
	INNER JOIN [Source_NetSuite].[ns2].[Item] i ON tl.item = i.id
	LEFT JOIN [Source_NetSuite].[ns2].[InventoryAssignment] ia ON ia.[transaction] = t.id
																	AND ia.transactionline = tl.id
	LEFT JOIN [Source_NetSuite].[ns2].[inventoryNumber] inu ON inu.id = ia.inventorynumber
	LEFT JOIN [Source_NetSuite].[ns2].[TransactionBinNumbers] tbn ON tbn.[transaction] = t.id
																	AND tbn.transactionline = tl.id
WHERE
    t.trandate >= '2025-01-01'
    AND inu.inventorynumber IN ('425044032V7', '425043032V7', '425042031V7');
GO
/****** Object:  View [dbo].[NetSuite2_View_MaterialsUsage]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE   VIEW [dbo].[NetSuite2_View_MaterialsUsage]
AS
SELECT
    tl.item AS ITEM_ID,
    i.fullname AS FULL_NAME,
    CASE
        WHEN NULLIF(LTRIM(RTRIM(i.displayname)), '') IS NOT NULL
         AND NULLIF(LTRIM(RTRIM(i.description)), '') IS NOT NULL
            THEN i.displayname + ' - ' + i.description
        WHEN NULLIF(LTRIM(RTRIM(i.displayname)), '') IS NOT NULL
            THEN i.displayname
        ELSE i.description
    END AS DISPLAYNAME,
    a.acctnumber AS ACCOUNTNUMBER,
    a.accountsearchdisplayname AS ACCOUNTNAME,
    ap.enddate AS PeriodEnding,
    YEAR(ap.enddate) AS [Year],
    MONTH(ap.enddate) AS Period,
    -SUM(tl.quantity) AS Used,
    SUM(tl.netamount) AS Amount,
    i.itemtype AS ITEMTYPE
FROM [Source_NetSuite].[ns2].[transaction] t
INNER JOIN [Source_NetSuite].[ns2].[transactionLine] tl
    ON tl.[transaction] = t.id
INNER JOIN [Source_NetSuite].[ns2].[Item] i
    ON tl.item = i.id
INNER JOIN [Source_NetSuite].[ns2].[accountingPeriod] ap
    ON t.postingperiod = ap.id
INNER JOIN [Source_NetSuite].[ns2].[Account] a
    ON i.assetaccount = a.id
WHERE tl.item IS NOT NULL
  AND ap.enddate >= DATEADD(MONTH, -7, GETDATE())
  AND t.recordtype = 'assemblybuild'
  AND tl.quantity < 0
GROUP BY
    tl.item,
    i.fullname,
    CASE
        WHEN NULLIF(LTRIM(RTRIM(i.displayname)), '') IS NOT NULL
         AND NULLIF(LTRIM(RTRIM(i.description)), '') IS NOT NULL
            THEN i.displayname + ' - ' + i.description
        WHEN NULLIF(LTRIM(RTRIM(i.displayname)), '') IS NOT NULL
            THEN i.displayname
        ELSE i.description
    END,
    a.acctnumber,
    a.accountsearchdisplayname,
    i.itemtype,
    ap.enddate,
    YEAR(ap.enddate),
    MONTH(ap.enddate);
GO
/****** Object:  View [dbo].[NetSuite2_View_SOandCSTrans]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[NetSuite2_View_SOandCSTrans]
AS
SELECT 
    t.id AS TRANSACTION_ID,
    t.tranid AS TRANID
FROM [Source_NetSuite].[ns2].[transaction] t
WHERE
    t.recordtype IN ('cashsale', 'salesorder')  --('Cash Sale', 'Sales Order')
    AND t.trandate >= '2024-01-01';
	 
GO
/****** Object:  View [dbo].[NetSuite2_View_StandardCostBarsShipped]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE   VIEW [dbo].[NetSuite2_View_StandardCostBarsShipped]
AS


--Key Finding  
--From your TransactionAccountingLine sample: 
--account   this is your replacement for old tl.ACCOUNT_ID
--transaction   joins to t.id
--transactionline   joins to tl.id
-- This is a 1:1 structural replacement for the old NetSuite table pattern.
 
--2) ItemDescription changed to:
--     COALESCE(i.displayname, i.description, i.purchasedescription)


SELECT
    ap.enddate AS PeriodEnding,
    a.externalid AS ACCOUNT_EXTID,
    tl.class AS CLASS_ID,
    tl.item AS ITEM_ID,
    i.fullname AS FULL_NAME,
     COALESCE(
        NULLIF(LTRIM(RTRIM(i.displayname)), ''),
        NULLIF(LTRIM(RTRIM(i.description)), ''),
        NULLIF(LTRIM(RTRIM(i.purchasedescription)), '')
    ) AS DISPLAYNAME,
    tl.cseg_ccc_prod_line AS PRODUCT_TYPE_ID,
    tl.cseg_product_type AS PRODUCT_CLASS_ID,
    SUM(tl.quantity) AS Qty,
    ISNULL(i.custitem_bars, 0) AS BarCount,
    SUM(ISNULL(i.custitem_bars, 0) * tl.quantity) AS Bars,
    t2.recordtype AS TRANSACTION_TYPE,
    SUM(tl.netamount) AS Total
FROM [Source_NetSuite].[ns2].[transaction] t
	INNER JOIN [Source_NetSuite].[ns2].[transactionLine] tl ON tl.[transaction] = t.id 
	-- CORRECT ACCOUNT SOURCE?
	INNER JOIN [Source_NetSuite].[ns2].[TransactionAccountingLine] tal ON tal.[transaction] = t.id AND tal.transactionline = tl.id 
	INNER JOIN [Source_NetSuite].[ns2].[Account] a ON tal.account = a.id 
	INNER JOIN [Source_NetSuite].[ns2].[Item] i ON tl.item = i.id 
	INNER JOIN [Source_NetSuite].[ns2].[accountingPeriod] ap ON t.postingperiod = ap.id 
	LEFT JOIN [Source_NetSuite].[ns2].[transaction] t2 ON t.custbody_ccc_po_created_from_data = t2.id 
WHERE
    ap.enddate = '2024-07-31'
    AND t.recordtype IN ('itemfulfillment', 'cashsale')  -- ('Item Fulfillment', 'Cash Sale')
    AND a.acctnumber = '511000'

GROUP BY
    ap.enddate,
    a.externalid,
    tl.class,
    tl.item,
    i.fullname,
    COALESCE(
        NULLIF(LTRIM(RTRIM(i.displayname)), ''),
        NULLIF(LTRIM(RTRIM(i.description)), ''),
        NULLIF(LTRIM(RTRIM(i.purchasedescription)), '')
    ),
    i.custitem_bars,
    t2.recordtype,
    tl.cseg_ccc_prod_line,
    tl.cseg_product_type,
    a.externalid;
GO
/****** Object:  View [dbo].[NetSuite2_View_StdCostRevaluation]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[NetSuite2_View_StdCostRevaluation]
AS

--1) ACCOUNT_ID sourced through ns2.TransactionAccountingLine and then joined to ns2.Account
--2) ItemDescription changed to:
--     COALESCE(i.displayname, i.description, i.purchasedescription)


SELECT
    t.tranid AS TRANID,
    t.transactionnumber AS TRANSACTION_NUMBER,
    tl.id AS TRANSACTION_LINE_ID,
    t.recordtype AS TRANSACTION_TYPE,
    t.trandate AS TRANDATE,
    ap.enddate AS PeriodEnding,
    tal.account AS ACCOUNT_ID,
    a.acctnumber AS ACCOUNTNUMBER,
    a.accountsearchdisplayname AS NAME,
    tl.netamount AS AMOUNT,

    CAST(NULL AS decimal(18, 4)) AS GROSS_AMOUNT,

    CASE
        WHEN tl.id = 1 THEN 'OldStdCost'
        ELSE 'NewStdCost'
    END AS CostComp,

    tl.custcol_ccc_ehub_item_price AS ITEM_UNIT_PRICE,
    tl.item AS ITEM_ID,
    i.fullname AS FULL_NAME,
    COALESCE(
        NULLIF(LTRIM(RTRIM(i.displayname)), ''),
        NULLIF(LTRIM(RTRIM(i.description)), ''),
        NULLIF(LTRIM(RTRIM(i.purchasedescription)), '')
    ) AS DISPLAYNAME
FROM [Source_NetSuite].[ns2].[transaction] AS t
INNER JOIN [Source_NetSuite].[ns2].[transactionLine] AS tl
    ON tl.[transaction] = t.id
INNER JOIN [Source_NetSuite].[ns2].[TransactionAccountingLine] AS tal
    ON tl.[transaction] = tal.[transaction]
   AND tl.id = tal.transactionline
LEFT JOIN [Source_NetSuite].[ns2].[Account] AS a
    ON tal.account = a.id
INNER JOIN [Source_NetSuite].[ns2].[item] AS i
    ON tl.item = i.id
INNER JOIN [Source_NetSuite].[ns2].[accountingPeriod] AS ap
    ON t.postingperiod = ap.id
WHERE
    t.trandate >= CONVERT(datetime, '2023-12-31 00:00:00', 102)
    AND t.recordtype = 'Inventory Cost Revaluation'
    AND i.isinactive = 'F'
    AND t.location = 1;
GO
/****** Object:  View [dbo].[NetSuite2_View_TransactionLinesBasic]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   VIEW [dbo].[NetSuite2_View_TransactionLinesBasic]
AS

--1) ACCOUNT_ID sourced through ns2.TransactionAccountingLine and then joined to ns2.Account
--2) ItemDescription changed to:
--     COALESCE(i.displayname, i.description, i.purchasedescription)
--3) Updated a.accountsearchdisplayname to a.accountsearchdisplaynamecopy for simpler name
--4) Createdfrom is contained in the transactionLine table; the t2 and c2 joins accordingly
--5) Updated t.tranid to t.transactionnumber

SELECT
distinct
    t.trandate            AS TransactionDate,
    t.transactionnumber   AS DocumentNumber,
    ap.periodname         AS AccountingPeriod,
    a.acctnumber          AS AccountNumber,
    a.accountsearchdisplaynamecopy AS AccountName,
    t.recordtype          AS TransactionType,
    d.fullname            AS DepartmentName,
    c.name                AS ClassName,
    tl.item               AS ItemID,
    i.fullname            AS Item,
    COALESCE(
        NULLIF(LTRIM(RTRIM(i.displayname)), ''),
        NULLIF(LTRIM(RTRIM(i.description)), ''),
        NULLIF(LTRIM(RTRIM(i.purchasedescription)), '')
    )                     AS ItemDescription,
    tl.cseg_ccc_prod_line AS PRODUCT_TYPE_ID,
    tl.cseg_product_type  AS PRODUCT_CLASS_ID,
    c2.entityid           AS CustomerName,
    t2.recordtype         AS CreatedFromType,
    tl.quantity           AS Qty,
    i.custitem_bars       AS BarCount,
    tl.quantity * i.custitem_bars AS Bars,
    tl.netamount          AS Amount,
    l.name                AS Location

FROM [Source_NetSuite].[ns2].[transaction] t
INNER JOIN [Source_NetSuite].[ns2].[transactionLine] tl
    ON tl.[transaction] = t.id
INNER JOIN [Source_NetSuite].[ns2].[TransactionAccountingLine] tal
    ON tl.[transaction] = tal.[transaction]
   AND tl.id = tal.transactionline
LEFT JOIN [Source_NetSuite].[ns2].[Account] a
    ON tal.account = a.id
INNER JOIN [Source_NetSuite].[ns2].[Item] i
    ON tl.item = i.id
INNER JOIN [Source_NetSuite].[ns2].[accountingPeriod] ap
    ON t.postingperiod = ap.id
INNER JOIN [Source_NetSuite].[ns2].[Location] l
    ON tl.location = l.id
LEFT JOIN [Source_NetSuite].[ns2].[department] d
    ON tl.department = d.id
LEFT JOIN [Source_NetSuite].[ns2].[classification] c
    ON tl.class = c.id
LEFT JOIN [Source_NetSuite].[ns2].[transaction] t2
    ON tl.createdfrom = t2.id -- I think this is the issue
LEFT JOIN [Source_NetSuite].[ns2].[Customer] c2
    ON t.entity = c2.id

WHERE 1 = 1
--and t.id = 66393488
and ap.enddate >= '2026-03-01';

GO
/****** Object:  View [dbo].[NetSuite2_vw_BarCount]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE   VIEW [dbo].[NetSuite2_vw_BarCount]
AS

--1) ACCOUNT_ID sourced through ns2.TransactionAccountingLine and then joined to ns2.Account
--2) ItemDescription changed to:
--     COALESCE(i.displayname, i.description, i.purchasedescription)

SELECT
    t.trandate AS [Date],
    t.tranid AS DocumentNumber,
    t.memo,
    t.recordtype AS TransactionType,
    t.createddate AS CREATE_DATE,
    t.custbody_wo_assembly AS AssemblyItem,

    a.acctnumber AS AccountNumber,

    SUM(ISNULL(tl.quantity, 0) * ISNULL(i.custitem_bars, 0)) AS BarsMade,

    tl.netamount AS AMOUNT,
    tl.item AS ItemID,
    i.fullname AS Item,

    COALESCE(i.displayname, i.description, i.purchasedescription) AS ItemDescription,

    i.custitem_bars AS BarCount,
    ln2.name AS LineName,

    CAST(NULL AS nvarchar(255)) AS InventoryNumber

FROM [Source_NetSuite].[ns2].[transaction] t
LEFT JOIN [Source_NetSuite].[ns2].[transactionLine] tl ON t.id = tl.[transaction] 
INNER JOIN [Source_NetSuite].[ns2].[TransactionAccountingLine] tal ON tl.[transaction] = tal.[transaction] 
	AND tl.id = tal.transactionline 
LEFT JOIN [Source_NetSuite].[ns2].[Account] a ON tal.account = a.id 
LEFT JOIN [Source_NetSuite].[ns2].[item] i ON tl.item = i.id 
LEFT JOIN [Source_NetSuite].[ns2].[accountingPeriod] ap ON t.postingperiod = ap.id 
LEFT JOIN [Source_NetSuite].[ns2].[CUSTOMLIST_WO_LINE_NO] ln2 ON t.custbody_wo_line_no = ln2.id

WHERE
    t.recordtype IN ('assemblybuild', 'assemblyunbuild')
    AND t.trandate >= '2026-01-01'

GROUP BY
    t.trandate,
    t.tranid,
    t.memo,
    t.recordtype,
    t.createddate,
    t.custbody_wo_assembly,
    a.acctnumber,
    tl.netamount,
    tl.item,
    i.fullname,
    COALESCE(i.displayname, i.description, i.purchasedescription),
    i.custitem_bars,
    ln2.name;
GO
/****** Object:  View [dbo].[vw_SCA_SalesOrderLines]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_SCA_SalesOrderLines]
AS

SELECT
    t.id AS SalesOrderTransactionID,
    tl.id AS SalesOrderLineID,

    CONCAT(
        CAST(t.id AS varchar(30)),
        '-',
        CAST(tl.id AS varchar(30))
    ) AS SalesOrderLineKey,

    t.trandate AS SalesOrderDate,
    t.tranid AS SalesOrderID,
    t.custbody_bb_planned_ship_date AS PlannedShipDate,
    t.custbodymabd_date AS MABD,

    t.status AS StatusID,
    ts.fullname AS SalesOrderStatus,

    c.id AS CustomerID,
    c.fullname AS CustomerName,
    c.entityid AS CustomerEntityID,
    cc.name AS CustomerCategory,

    tl.item AS ItemID,
    i.fullname AS ItemFullName,

    COALESCE(
        i.displayname,
        i.description,
        i.purchasedescription
    ) AS ItemDescription,

    tl.location AS LocationID,
    l.fullname AS LocationName,

    ABS(COALESCE(tl.quantity, 0)) AS QuantityOrdered,
    ABS(COALESCE(tl.quantitycommitted, 0)) AS QuantityCommitted,
    ABS(COALESCE(tl.quantityallocated, 0)) AS QuantityAllocated,
    ABS(COALESCE(tl.quantitydemandallocated, 0))
        AS QuantityDemandAllocated,
    ABS(COALESCE(tl.quantitybackordered, 0))
        AS NetSuiteBackorderedQty,

    ABS(COALESCE(tl.quantitypicked, 0)) AS QuantityPicked,
    ABS(COALESCE(tl.quantitypacked, 0)) AS QuantityPacked,

    tl.isclosed AS IsClosed,
    tl.netamount AS LineAmount

FROM Source_NetSuite.ns2.[transaction] t

INNER JOIN Source_NetSuite.ns2.transactionLine tl
    ON tl.[transaction] = t.id

INNER JOIN Source_NetSuite.ns2.item i
    ON i.id = tl.item

INNER JOIN Source_NetSuite.ns2.transactionstatus ts
    ON ts.id = t.status

LEFT JOIN Source_NetSuite.ns2.Customer c
    ON c.id = t.entity

LEFT JOIN Source_NetSuite.ns2.customerCategory cc
    ON cc.id = c.category

LEFT JOIN Source_NetSuite.ns2.Location l
    ON l.id = tl.location

WHERE t.recordtype = 'salesorder'
  AND tl.item IS NOT NULL
  AND COALESCE(tl.isclosed, 'F') <> 'T'
  AND ts.fullname IN
  (
      'Sales Order : Pending Approval',
      'Sales Order : Pending Fulfillment'
  );
GO
/****** Object:  View [dbo].[vw_SCA_TransferSupply]    Script Date: 9/22/2026 3:43:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_SCA_TransferSupply]
AS

WITH TransferStatusLookup AS
(
    SELECT
        id AS StatusID,
        fullname AS TransferStatus,

        CASE
            WHEN fullname IN
            (
                'Transfer Order : Pending Fulfillment',
                'Transfer Order : Pending Receipt'
            )
            THEN 'Open Confirmed'

            WHEN fullname =
                'Transfer Order : Pending Approval'
            THEN 'Pending Approval'

            WHEN fullname =
                'Transfer Order : Received'
            THEN 'Received'

            WHEN fullname =
                'Transfer Order : Closed'
            THEN 'Closed'

            WHEN fullname =
                'Transfer Order : Rejected'
            THEN 'Rejected'

            ELSE 'Review'
        END AS TransferStatusGroup,

        ROW_NUMBER() OVER
        (
            PARTITION BY id
            ORDER BY fullname
        ) AS StatusRowNumber

    FROM Source_NetSuite.ns2.transactionstatus

    WHERE fullname IN
    (
        'Transfer Order : Closed',
        'Transfer Order : Pending Approval',
        'Transfer Order : Pending Fulfillment',
        'Transfer Order : Pending Receipt',
        'Transfer Order : Received',
        'Transfer Order : Rejected'
    )
),

BaseTransferLines AS
(
    SELECT
        t.id AS TransferTransactionID,
        t.tranid AS TransferOrderID,
        t.trandate AS TransferOrderDate,

        t.status AS TransferStatusID,
        tsl.TransferStatus,
        tsl.TransferStatusGroup,

        tl.id AS TransferLineID,
        tl.item AS ItemID,
        tl.location AS LocationID,

        COALESCE(tl.quantity, 0)
            AS SignedQuantity

    FROM Source_NetSuite.ns2.[transaction] t

    INNER JOIN Source_NetSuite.ns2.transactionLine tl
        ON tl.[transaction] = t.id

    INNER JOIN TransferStatusLookup tsl
        ON tsl.StatusID = t.status
       AND tsl.StatusRowNumber = 1

    WHERE t.recordtype IN
    (
        'transfer',
        'transferorder'
    )
      AND tl.item IS NOT NULL
      AND tl.location IS NOT NULL
      AND COALESCE(tl.quantity, 0) <> 0

      /*
        Load all six known statuses into the view.
        We will flag which ones are usable supply.
      */
),

TransferByLocation AS
(
    SELECT
        TransferTransactionID,
        TransferOrderID,
        TransferOrderDate,

        TransferStatusID,
        TransferStatus,
        TransferStatusGroup,

        ItemID,
        LocationID,

        CASE
            WHEN SignedQuantity < 0
            THEN 'From'

            WHEN SignedQuantity > 0
            THEN 'To'
        END AS TransferDirection,

        COUNT(*) AS UnderlyingLineCount,

        SUM(SignedQuantity)
            AS SignedQuantity,

        SUM(ABS(SignedQuantity))
            AS AbsoluteQuantity

    FROM BaseTransferLines

    GROUP BY
        TransferTransactionID,
        TransferOrderID,
        TransferOrderDate,

        TransferStatusID,
        TransferStatus,
        TransferStatusGroup,

        ItemID,
        LocationID,

        CASE
            WHEN SignedQuantity < 0
            THEN 'From'

            WHEN SignedQuantity > 0
            THEN 'To'
        END
),

SourceLocations AS
(
    SELECT
        TransferTransactionID,
        TransferOrderID,
        TransferOrderDate,

        TransferStatusID,
        TransferStatus,
        TransferStatusGroup,

        ItemID,
        LocationID AS FromLocationID,

        AbsoluteQuantity AS OutboundTransferQty,
        UnderlyingLineCount AS SourceLineCount

    FROM TransferByLocation

    WHERE TransferDirection = 'From'
),

DestinationLocations AS
(
    SELECT
        TransferTransactionID,
        TransferOrderID,
        TransferOrderDate,

        TransferStatusID,
        TransferStatus,
        TransferStatusGroup,

        ItemID,
        LocationID AS ToLocationID,

        AbsoluteQuantity AS ExpectedInboundTransferQty,
        UnderlyingLineCount AS DestinationLineCount

    FROM TransferByLocation

    WHERE TransferDirection = 'To'
)

SELECT
    destination.TransferTransactionID,

    CONCAT
    (
        CAST(
            destination.TransferTransactionID
            AS varchar(30)
        ),
        '-',
        CAST(
            destination.ItemID
            AS varchar(30)
        ),
        '-',
        COALESCE
        (
            CAST(
                source.FromLocationID
                AS varchar(30)
            ),
            'UNKNOWN'
        ),
        '-',
        CAST(
            destination.ToLocationID
            AS varchar(30)
        )
    ) AS TransferSupplyKey,

    destination.TransferOrderID,
    destination.TransferOrderDate,

    destination.TransferStatusID,
    destination.TransferStatus,
    destination.TransferStatusGroup,

    destination.ItemID,
    item.fullname AS ItemFullName,

    source.FromLocationID,
    fromlocation.fullname
        AS FromLocationName,

    destination.ToLocationID,
    tolocation.fullname
        AS ToLocationName,

    COALESCE(
        source.OutboundTransferQty,
        0
    ) AS OutboundTransferQty,

    destination.ExpectedInboundTransferQty,

    /*
      Only approved, operationally open transfers
      count as candidate supply.
    */
    CASE
        WHEN destination.TransferStatus IN
        (
            'Transfer Order : Pending Fulfillment',
            'Transfer Order : Pending Receipt'
        )
        THEN destination.ExpectedInboundTransferQty

        ELSE 0
    END AS CandidateTransferSupplyQty,

    /*
      Pending Approval is shown separately.
    */
    CASE
        WHEN destination.TransferStatus =
            'Transfer Order : Pending Approval'
        THEN destination.ExpectedInboundTransferQty

        ELSE 0
    END AS PendingApprovalTransferQty,

    /*
      Keep this null until the true expected
      receipt field is confirmed.
    */
    CAST(NULL AS date)
        AS ExpectedReceiptDate,

    source.SourceLineCount,
    destination.DestinationLineCount,

    CASE
        WHEN source.FromLocationID IS NULL
        THEN 'Missing source location'

        WHEN ABS
        (
            COALESCE(
                source.OutboundTransferQty,
                0
            )
            -
            destination.ExpectedInboundTransferQty
        ) > 0.0001
        THEN 'Source and destination quantities differ'

        WHEN destination.TransferStatus =
            'Transfer Order : Pending Approval'
        THEN 'Valid pair, awaiting approval'

        WHEN destination.TransferStatus IN
        (
            'Transfer Order : Received',
            'Transfer Order : Closed',
            'Transfer Order : Rejected'
        )
        THEN 'Valid pair, not open supply'

        ELSE 'Valid open transfer pair'
    END AS TransferValidationStatus

FROM DestinationLocations destination

LEFT JOIN SourceLocations source
    ON source.TransferTransactionID =
        destination.TransferTransactionID

   AND source.ItemID =
        destination.ItemID

   AND ABS
       (
           source.OutboundTransferQty
           -
           destination.ExpectedInboundTransferQty
       ) < 0.0001

LEFT JOIN Source_NetSuite.ns2.item item
    ON item.id = destination.ItemID

LEFT JOIN Source_NetSuite.ns2.Location fromlocation
    ON fromlocation.id =
        source.FromLocationID

LEFT JOIN Source_NetSuite.ns2.Location tolocation
    ON tolocation.id =
        destination.ToLocationID;
GO
