USE [Built_EDW]
GO
/****** Object:  Table [NetSuite2].[DimAccountingPeriod]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimAccountingPeriod](
	[DimAccountingPeriodId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[PeriodName] [varchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimAccountingPeriodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [NetSuite2_Sales].[vDimAccountingPeriod]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





--[DIM_ACCOUNTING_PERIOD_ID]
CREATE VIEW [NetSuite2_Sales].[vDimAccountingPeriod]

AS

SELECT ap.DimAccountingPeriodId, ap.Id, ap.StartDate, ap.EndDate
	, ap.PeriodName
	, dd.[Date], dd.[Year], dd.YearNumber, dd.Quarter, dd.QuarterName, dd.Month, dd.MonthName
FROM NetSuite2.DimAccountingPeriod ap
  INNER JOIN Corp.DimDate dd ON ap.StartDate = dd.Date

GO
/****** Object:  View [NetSuite2_Retail].[vDimAccountingPeriod]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--[DIM_ACCOUNTING_PERIOD_ID]
CREATE VIEW [NetSuite2_Retail].[vDimAccountingPeriod]

AS

SELECT ap.DimAccountingPeriodId, ap.Id, ap.StartDate, ap.EndDate
	, ap.PeriodName
	, dd.[Date], dd.[Year], dd.YearNumber, dd.Quarter, dd.QuarterName, dd.Month, dd.MonthName
FROM NetSuite2.DimAccountingPeriod ap
  INNER JOIN Corp.DimDate dd ON ap.StartDate = dd.Date

GO
/****** Object:  View [NetSuite2].[vwDimTranDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [NetSuite2].[vwDimTranDate]
As

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate
GO
/****** Object:  View [NetSuite2_Retail].[vDimActualDeliveryDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [NetSuite2_Retail].[vDimActualDeliveryDate]
As 
SELECT 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
FROM Corp.DimDate
GO
/****** Object:  View [NetSuite2_Retail].[vDimActualShipDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE VIEW [NetSuite2_Retail].[vDimActualShipDate]
As

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate
GO
/****** Object:  View [NetSuite2_Retail].[vDimCancelDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [NetSuite2_Retail].[vDimCancelDate]
As 
SELECT 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
FROM Corp.DimDate
GO
/****** Object:  View [NetSuite2_Retail].[vDimMustAriveByDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE VIEW [NetSuite2_Retail].[vDimMustAriveByDate]
As

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate
GO
/****** Object:  View [NetSuite2_Retail].[vDimMustArriveByDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 
CREATE VIEW [NetSuite2_Retail].[vDimMustArriveByDate]
As

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate
GO
/****** Object:  View [NetSuite2_Retail].[vDimPlannedDeliveryDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE VIEW [NetSuite2_Retail].[vDimPlannedDeliveryDate]
As

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate
GO
/****** Object:  View [NetSuite2_Retail].[vDimPlannedShipByDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [NetSuite2_Retail].[vDimPlannedShipByDate]
As 
SELECT 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
FROM Corp.DimDate
GO
/****** Object:  View [NetSuite2_Retail].[vDimPurchaseOrderDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [NetSuite2_Retail].[vDimPurchaseOrderDate]
As 
SELECT 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
FROM Corp.DimDate
GO
/****** Object:  View [NetSuite2_Retail].[vDimRequestedDeliveryDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [NetSuite2_Retail].[vDimRequestedDeliveryDate]

AS

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate

GO
/****** Object:  View [NetSuite2_Retail].[vDimShipByDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [NetSuite2_Retail].[vDimShipByDate]
As 
SELECT 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
FROM Corp.DimDate
GO
/****** Object:  View [NetSuite2_Retail].[vDimShipDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [NetSuite2_Retail].[vDimShipDate]

AS

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate

GO
/****** Object:  View [NetSuite2_Retail].[vDimTranDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--, [DIM_TRANDATE_ID]
CREATE VIEW [NetSuite2_Retail].[vDimTranDate]

AS

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate

GO
/****** Object:  View [NetSuite2_Sales].[vDimActualDeliveryDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [NetSuite2_Sales].[vDimActualDeliveryDate]
As 
SELECT 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
FROM Corp.DimDate
GO
/****** Object:  View [NetSuite2_Sales].[vDimActualShipDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 
CREATE VIEW [NetSuite2_Sales].[vDimActualShipDate]
As

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate
GO
/****** Object:  View [NetSuite2_Sales].[vDimCancelDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [NetSuite2_Sales].[vDimCancelDate]
As 
SELECT 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
FROM Corp.DimDate
GO
/****** Object:  View [NetSuite2_Sales].[vDimMustAriveByDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 
CREATE VIEW [NetSuite2_Sales].[vDimMustAriveByDate]
As

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate
GO
/****** Object:  View [NetSuite2_Sales].[vDimMustArriveByDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



 
CREATE VIEW [NetSuite2_Sales].[vDimMustArriveByDate]
As

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate
GO
/****** Object:  View [NetSuite2_Sales].[vDimPlannedDeliveryDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 
CREATE VIEW [NetSuite2_Sales].[vDimPlannedDeliveryDate]
As

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate
GO
/****** Object:  View [NetSuite2_Sales].[vDimPlannedShipByDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [NetSuite2_Sales].[vDimPlannedShipByDate]
As 
SELECT 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
FROM Corp.DimDate
GO
/****** Object:  View [NetSuite2_Sales].[vDimPurchaseOrderDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [NetSuite2_Sales].[vDimPurchaseOrderDate]
As 
SELECT 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
FROM Corp.DimDate
GO
/****** Object:  View [NetSuite2_Sales].[vDimRequestedDeliveryDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [NetSuite2_Sales].[vDimRequestedDeliveryDate]

AS

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate

GO
/****** Object:  View [NetSuite2_Sales].[vDimShipByDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [NetSuite2_Sales].[vDimShipByDate]
As 
SELECT 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
FROM Corp.DimDate
GO
/****** Object:  View [NetSuite2_Sales].[vDimShipDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [NetSuite2_Sales].[vDimShipDate]

AS

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate

GO
/****** Object:  View [NetSuite2_Sales].[vDimTranDate]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





--, [DIM_TRANDATE_ID]
CREATE VIEW [NetSuite2_Sales].[vDimTranDate]

AS

Select 
	[DateKey], [Date], [Day], [DaySuffix], [Weekday], [WeekDayName], [WeekDayName_Short], [WeekDayName_FirstLetter], [DOWInMonth]
	, [DayOfYear], [WeekOfMonth], [WeekOfYear], [Month], [MonthName], [MonthName_Short], [MonthName_FirstLetter], [Quarter]
	, [QuarterName], [Year]
	, [MMYYYY], [MonthYear], [IsWeekend], [IsHoliday], [YearNumber]
From Corp.DimDate

GO
/****** Object:  Table [NetSuite2].[DimChangeType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimChangeType](
	[DimChangeTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimChangeTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimChartOfAccounts]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimChartOfAccounts](
	[DimChartOfAccountsId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[Parent] [int] NULL,
	[AccountNumber] [varchar](60) NULL,
	[ExternalId] [varchar](255) NULL,
	[FullName] [varchar](4000) NULL,
	[Name] [varchar](100) NULL,
	[AccountType] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimChartOfAccountsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimComplianceFlags]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimComplianceFlags](
	[DimComplianceFlagsId] [int] IDENTITY(1,1) NOT NULL,
	[MABDCalculatedFlag] [bit] NULL,
	[ChangeCommunicatedFlag] [bit] NULL,
	[WasOnTimeFlag] [bit] NULL,
	[WasInFullFlag] [bit] NULL,
	[MABDCalculatedDesc] [varchar](10) NULL,
	[ChangeCommunicatedDesc] [varchar](10) NULL,
	[WasOnTimeDesc] [varchar](10) NULL,
	[WasInFullDesc] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimComplianceFlagsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimCreatedFromTransactionType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimCreatedFromTransactionType](
	[DimCreatedFromTransactionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[CreatedFromTransactionType] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimCreatedFromTransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimCustomer]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimCustomer](
	[DimCustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](50) NULL,
	[State] [varchar](100) NULL,
	[City] [varchar](200) NULL,
	[CustomerType] [varchar](35) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimCustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimDepartment]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimDepartment](
	[DimDepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[ExternalId] [varchar](255) NULL,
	[Name] [varchar](100) NULL,
	[FullName] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimDeviationReason]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimDeviationReason](
	[DimDeviationReasonId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimDeviationReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimItem]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimItem](
	[DimItemId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[DisplayName] [varchar](150) NULL,
	[PurchaseDescription] [varchar](150) NULL,
	[CostCategory] [varchar](150) NULL,
	[CostEstimateType] [varchar](150) NULL,
	[FullName] [nvarchar](1100) NULL,
	[Bars] [varchar](20) NULL,
	[ItemType] [nvarchar](4000) NULL,
	[Flavor] [nvarchar](4000) NULL,
	[FullNameDisplayName]  AS ((isnull([FullName],'')+' ')+isnull([DisplayName],'')),
PRIMARY KEY CLUSTERED 
(
	[DimItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimLocation]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimLocation](
	[DimLocationId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimProductClass]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimProductClass](
	[DimProductClassId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](35) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimProductClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimProductType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimProductType](
	[DimProductTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimSalesChannel]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimSalesChannel](
	[DimSalesChannelId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[FullName] [varchar](1000) NULL,
	[Name] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimSalesChannelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimSalesRep]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimSalesRep](
	[DimSalesRepId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[FullName] [varchar](60) NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Email] [varchar](150) NULL,
	[Title] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimSalesRepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimShippingMethod]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimShippingMethod](
	[DimShippingMethodId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimShippingMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimShippingRegion]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimShippingRegion](
	[DimShippingRegionId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimShippingRegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimTransactionEntryType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimTransactionEntryType](
	[DimTransactionEntryTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTransactionEntryTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimTransactionStatus]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimTransactionStatus](
	[DimTransactionStatusId] [int] IDENTITY(1,1) NOT NULL,
	[Id] [varchar](10) NULL,
	[Name] [varchar](100) NULL,
	[FullName] [varchar](300) NULL,
	[TranType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTransactionStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimTransactionType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimTransactionType](
	[DimTransactionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[DimTransitDays]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[DimTransitDays](
	[DimTransitDaysId] [int] IDENTITY(1,1) NOT NULL,
	[TransitDays] [varchar](60) NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTransitDaysId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[ETL_ProcedureLog]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[ETL_ProcedureLog](
	[ETLLogID] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[ProcedureName] [sysname] NULL,
	[TargetObject] [sysname] NULL,
	[LoadType] [varchar](20) NULL,
	[Status] [varchar](20) NULL,
	[StartTime] [datetime2](0) NULL,
	[EndTime] [datetime2](0) NULL,
	[DurationSeconds] [int] NULL,
	[DeltaKeyCount] [int] NULL,
	[RowsInserted] [int] NULL,
	[InfoMessage] [nvarchar](4000) NULL,
	[ErrorNumber] [int] NULL,
	[ErrorSeverity] [int] NULL,
	[ErrorState] [int] NULL,
	[ErrorLine] [int] NULL,
	[ErrorProcedure] [sysname] NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[HostName] [sysname] NULL,
	[AppName] [nvarchar](128) NULL,
	[LoginName] [sysname] NULL,
	[SPID] [int] NULL,
	[InsertedAt] [datetime2](0) NOT NULL,
	[RowsDeleted] [int] NULL,
 CONSTRAINT [PK_ETL_ProcedureLog] PRIMARY KEY CLUSTERED 
(
	[ETLLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[FactTransactions]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[FactTransactions](
	[FactTransactionsId] [bigint] IDENTITY(1,1) NOT NULL,
	[Id] [bigint] NULL,
	[TransactionLineId] [int] NULL,
	[ACCOUNT_BASED_NUMBER] [varchar](100) NULL,
	[DimAccountingPeriodId] [int] NULL,
	[DimCreateDateId] [int] NULL,
	[DimSalesEffectiveDateId] [int] NULL,
	[DimChartOfAccountsId] [int] NULL,
	[DimItemId] [int] NULL,
	[Amount] [money] NULL,
	[ItemUnitPrice] [nvarchar](42) NULL,
	[NetAmount] [money] NULL,
	[BomQuantity] [int] NULL,
	[QuantityAllocated] [bigint] NULL,
	[QuantityCommitted] [bigint] NULL,
	[QuantityPacked] [int] NULL,
	[QuantityPicked] [int] NULL,
	[QuantityReceived_in_shipment] [int] NULL,
	[DimDepartmentId] [int] NULL,
	[DimSubsidiaryId] [int] NULL,
	[DimTrandateId] [int] NULL,
	[ItemCount] [int] NULL,
	[DimSalesChannelId] [int] NULL,
	[Bars] [decimal](18, 0) NULL,
	[AssemblyItem] [nvarchar](4000) NULL,
	[CreatedFromId] [varchar](100) NULL,
	[Tranid] [nvarchar](138) NULL,
	[DimTransactionTypeId] [int] NULL,
	[DimClassesId] [int] NULL,
	[DimProductTypeId] [int] NULL,
	[DimProductClassId] [int] NULL,
	[DimCustomerId] [int] NULL,
	[DimLocationId] [int] NULL,
	[DimCreatedFromTransactionTypeId] [int] NULL,
	[DimTransactionEntryTypeId] [int] NULL,
	[BarsSold] [int] NULL,
	[ItemCountBars] [int] NULL,
	[BarsShipped] [int] NULL,
	[SalesAmount] [money] NULL,
	[ShippedAmount] [money] NULL,
	[ItemCountSold] [int] NULL,
	[ItemCountShipped] [int] NULL,
	[DimTransactionStatusId] [int] NULL,
	[DimShipDateId] [int] NULL,
	[DimRequestedDeliveryDateId] [int] NULL,
	[DimActualShipDateId] [int] NULL,
	[DimPlannedDeliveryDateId] [int] NULL,
	[DimSalesRepId] [int] NULL,
	[DimMustArriveByDateId] [int] NULL,
	[DimPurchaseOrderDateId] [int] NULL,
	[DimCancelDateId] [int] NULL,
	[DimShipByDateId] [int] NULL,
	[DimPlannedShipByDateId] [int] NULL,
	[DimActualDeliveryDateId] [int] NULL,
	[DimComplianceFlagsId] [int] NULL,
	[DimShippingMethodId] [int] NULL,
	[DimShippingRegionId] [int] NULL,
	[DimDeviationReasonId] [int] NULL,
	[DimChangeTypeId] [int] NULL,
	[DimTransitDaysId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactTransactionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2].[TrialBalance]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2].[TrialBalance](
	[Amount] [money] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[AccountingPeriodName] [varchar](50) NULL,
	[AccountFullName] [nvarchar](4000) NULL,
	[AccountName] [nvarchar](93) NULL,
	[AccountType] [nvarchar](128) NULL,
	[AccountNumber] [nvarchar](60) NULL,
	[ClassName] [nvarchar](4000) NULL,
	[DeptFullName] [nvarchar](4000) NULL,
	[DeptName] [nvarchar](60) NULL,
	[DeptExternalId] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimAccountingPeriod]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimAccountingPeriod](
	[DimAccountingPeriodId] [int] NOT NULL,
	[Id] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[PeriodName] [varchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimAccountingPeriodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimChangeType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimChangeType](
	[DimChangeTypeId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimChangeTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimChartOfAccounts]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimChartOfAccounts](
	[DimChartOfAccountsId] [int] NOT NULL,
	[Id] [int] NULL,
	[Parent] [int] NULL,
	[AccountNumber] [varchar](60) NULL,
	[ExternalId] [varchar](255) NULL,
	[FullName] [varchar](4000) NULL,
	[Name] [varchar](100) NULL,
	[AccountType] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimChartOfAccountsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimComplianceFlags]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimComplianceFlags](
	[DimComplianceFlagsId] [int] IDENTITY(1,1) NOT NULL,
	[MABDCalculatedFlag] [bit] NULL,
	[ChangeCommunicatedFlag] [bit] NULL,
	[WasOnTimeFlag] [bit] NULL,
	[WasInFullFlag] [bit] NULL,
	[MABDCalculatedDesc] [varchar](10) NULL,
	[ChangeCommunicatedDesc] [varchar](10) NULL,
	[WasOnTimeDesc] [varchar](10) NULL,
	[WasInFullDesc] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimComplianceFlagsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimCreatedFromTransactionType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimCreatedFromTransactionType](
	[DimCreatedFromTransactionTypeId] [int] NOT NULL,
	[CreatedFromTransactionType] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimCreatedFromTransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimCustomer]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimCustomer](
	[DimCustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](50) NULL,
	[State] [varchar](100) NULL,
	[City] [varchar](200) NULL,
	[CustomerType] [varchar](35) NULL,
	[CustomerId] [int] NULL,
	[CompanyName] [varchar](200) NULL,
	[Name] [varchar](400) NULL,
	[FullName] [varchar](400) NULL,
	[DeliveryTypeName] [varchar](50) NULL,
	[LeadTime] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimCustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimDepartment]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimDepartment](
	[DimDepartmentId] [int] NOT NULL,
	[Id] [int] NULL,
	[ExternalId] [varchar](255) NULL,
	[Name] [varchar](100) NULL,
	[FullName] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimDeviationReason]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimDeviationReason](
	[DimDeviationReasonId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimDeviationReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimItem]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimItem](
	[DimItemId] [int] NOT NULL,
	[Id] [int] NULL,
	[DisplayName] [varchar](150) NULL,
	[PurchaseDescription] [varchar](150) NULL,
	[CostCategory] [varchar](150) NULL,
	[CostEstimateType] [varchar](150) NULL,
	[FullName] [nvarchar](1100) NULL,
	[Bars] [varchar](20) NULL,
	[ItemType] [nvarchar](4000) NULL,
	[Flavor] [nvarchar](4000) NULL,
	[FullNameDisplayName]  AS ((isnull([FullName],'')+' ')+isnull([DisplayName],'')),
PRIMARY KEY CLUSTERED 
(
	[DimItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimLocation]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimLocation](
	[DimLocationId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimProductClass]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimProductClass](
	[DimProductClassId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](35) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimProductClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimProductType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimProductType](
	[DimProductTypeId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimSalesChannel]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimSalesChannel](
	[DimSalesChannelId] [int] NOT NULL,
	[Id] [int] NULL,
	[FullName] [varchar](1000) NULL,
	[Name] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimSalesChannelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimSalesRep]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimSalesRep](
	[DimSalesRepId] [int] NOT NULL,
	[Id] [int] NULL,
	[FullName] [varchar](60) NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Email] [varchar](150) NULL,
	[Title] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimSalesRepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimShippingMethod]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimShippingMethod](
	[DimShippingMethodId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimShippingMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimShippingRegion]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimShippingRegion](
	[DimShippingRegionId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimShippingRegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimTransactionEntryType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimTransactionEntryType](
	[DimTransactionEntryTypeId] [int] NOT NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTransactionEntryTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimTransactionStatus]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimTransactionStatus](
	[DimTransactionStatusId] [int] NOT NULL,
	[Id] [varchar](10) NULL,
	[Name] [varchar](100) NULL,
	[FullName] [varchar](300) NULL,
	[TranType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTransactionStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimTransactionType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimTransactionType](
	[DimTransactionTypeId] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[Type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[DimTransitDays]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[DimTransitDays](
	[DimTransitDaysId] [int] NOT NULL,
	[TransitDays] [varchar](60) NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTransitDaysId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Retail].[FactTransactions]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Retail].[FactTransactions](
	[FactTransactionsId] [bigint] NOT NULL,
	[Id] [bigint] NULL,
	[TransactionLineId] [int] NULL,
	[ACCOUNT_BASED_NUMBER] [varchar](100) NULL,
	[DimAccountingPeriodId] [int] NULL,
	[DimCreateDateId] [int] NULL,
	[DimSalesEffectiveDateId] [int] NULL,
	[DimChartOfAccountsId] [int] NULL,
	[DimItemId] [int] NULL,
	[Amount] [money] NULL,
	[ItemUnitPrice] [nvarchar](42) NULL,
	[NetAmount] [money] NULL,
	[BomQuantity] [int] NULL,
	[QuantityAllocated] [bigint] NULL,
	[QuantityCommitted] [bigint] NULL,
	[QuantityPacked] [int] NULL,
	[QuantityPicked] [int] NULL,
	[QuantityReceived_in_shipment] [int] NULL,
	[DimDepartmentId] [int] NULL,
	[DimSubsidiaryId] [int] NULL,
	[DimTrandateId] [int] NULL,
	[ItemCount] [int] NULL,
	[DimSalesChannelId] [int] NULL,
	[Bars] [decimal](18, 0) NULL,
	[AssemblyItem] [nvarchar](4000) NULL,
	[CreatedFromId] [varchar](100) NULL,
	[Tranid] [nvarchar](138) NULL,
	[DimTransactionTypeId] [int] NULL,
	[DimClassesId] [int] NULL,
	[DimProductTypeId] [int] NULL,
	[DimProductClassId] [int] NULL,
	[DimCustomerId] [int] NULL,
	[DimLocationId] [int] NULL,
	[DimCreatedFromTransactionTypeId] [int] NULL,
	[DimTransactionEntryTypeId] [int] NULL,
	[BarsSold] [int] NULL,
	[ItemCountBars] [int] NULL,
	[BarsShipped] [int] NULL,
	[SalesAmount] [money] NULL,
	[ShippedAmount] [money] NULL,
	[ItemCountSold] [int] NULL,
	[ItemCountShipped] [int] NULL,
	[DimTransactionStatusId] [int] NULL,
	[DimShipDateId] [int] NULL,
	[DimRequestedDeliveryDateId] [int] NULL,
	[DimMADBDateId] [int] NULL,
	[DimActualShipDateId] [int] NULL,
	[DimPlannedDeliveryDateId] [int] NULL,
	[DimSalesRepId] [int] NULL,
	[DimMustArriveByDateId] [int] NULL,
	[DimPurchaseOrderDateId] [int] NULL,
	[DimCancelDateId] [int] NULL,
	[DimShipByDateId] [int] NULL,
	[DimPlannedShipByDateId] [int] NULL,
	[DimActualDeliveryDateId] [int] NULL,
	[DimComplianceFlagsId] [int] NULL,
	[DimShippingMethodId] [int] NULL,
	[DimShippingRegionId] [int] NULL,
	[DimDeviationReasonId] [int] NULL,
	[DimChangeTypeId] [int] NULL,
	[DimTransitDaysId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactTransactionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimAccountingPeriod]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimAccountingPeriod](
	[DimAccountingPeriodId] [int] NOT NULL,
	[Id] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[PeriodName] [varchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimAccountingPeriodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimChangeType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimChangeType](
	[DimChangeTypeId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimChangeTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimChartOfAccounts]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimChartOfAccounts](
	[DimChartOfAccountsId] [int] NOT NULL,
	[Id] [int] NULL,
	[Parent] [int] NULL,
	[AccountNumber] [varchar](60) NULL,
	[ExternalId] [varchar](255) NULL,
	[FullName] [varchar](4000) NULL,
	[Name] [varchar](100) NULL,
	[AccountType] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimChartOfAccountsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimComplianceFlags]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimComplianceFlags](
	[DimComplianceFlagsId] [int] NOT NULL,
	[MABDCalculatedFlag] [bit] NULL,
	[ChangeCommunicatedFlag] [bit] NULL,
	[WasOnTimeFlag] [bit] NULL,
	[WasInFullFlag] [bit] NULL,
	[MABDCalculatedDesc] [varchar](10) NULL,
	[ChangeCommunicatedDesc] [varchar](10) NULL,
	[WasOnTimeDesc] [varchar](10) NULL,
	[WasInFullDesc] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimComplianceFlagsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimCreatedFromTransactionType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimCreatedFromTransactionType](
	[DimCreatedFromTransactionTypeId] [int] NOT NULL,
	[CreatedFromTransactionType] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimCreatedFromTransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimCustomer]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimCustomer](
	[DimCustomerId] [int] NOT NULL,
	[Country] [varchar](50) NULL,
	[State] [varchar](100) NULL,
	[City] [varchar](200) NULL,
	[CustomerType] [varchar](35) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimCustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimDepartment]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimDepartment](
	[DimDepartmentId] [int] NOT NULL,
	[Id] [int] NULL,
	[ExternalId] [varchar](255) NULL,
	[Name] [varchar](100) NULL,
	[FullName] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimDeviationReason]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimDeviationReason](
	[DimDeviationReasonId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimDeviationReasonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimItem]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimItem](
	[DimItemId] [int] NOT NULL,
	[Id] [int] NULL,
	[DisplayName] [varchar](150) NULL,
	[PurchaseDescription] [varchar](150) NULL,
	[CostCategory] [varchar](150) NULL,
	[CostEstimateType] [varchar](150) NULL,
	[FullName] [nvarchar](1100) NULL,
	[Bars] [varchar](20) NULL,
	[ItemType] [nvarchar](4000) NULL,
	[Flavor] [nvarchar](4000) NULL,
	[FullNameDisplayName]  AS ((isnull([FullName],'')+' ')+isnull([DisplayName],'')),
PRIMARY KEY CLUSTERED 
(
	[DimItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimLocation]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimLocation](
	[DimLocationId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimProductClass]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimProductClass](
	[DimProductClassId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](35) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimProductClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimProductType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimProductType](
	[DimProductTypeId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimSalesChannel]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimSalesChannel](
	[DimSalesChannelId] [int] NOT NULL,
	[Id] [int] NULL,
	[FullName] [varchar](1000) NULL,
	[Name] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimSalesChannelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimSalesRep]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimSalesRep](
	[DimSalesRepId] [int] NOT NULL,
	[Id] [int] NULL,
	[FullName] [varchar](60) NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](100) NULL,
	[Email] [varchar](150) NULL,
	[Title] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimSalesRepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimShippingMethod]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimShippingMethod](
	[DimShippingMethodId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimShippingMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimShippingRegion]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimShippingRegion](
	[DimShippingRegionId] [int] NOT NULL,
	[Id] [int] NULL,
	[Name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimShippingRegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimTransactionEntryType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimTransactionEntryType](
	[DimTransactionEntryTypeId] [int] NOT NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTransactionEntryTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimTransactionStatus]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimTransactionStatus](
	[DimTransactionStatusId] [int] NOT NULL,
	[Id] [varchar](10) NULL,
	[Name] [varchar](100) NULL,
	[FullName] [varchar](300) NULL,
	[TranType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTransactionStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimTransactionType]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimTransactionType](
	[DimTransactionTypeId] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[Type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[DimTransitDays]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[DimTransitDays](
	[DimTransitDaysId] [int] NOT NULL,
	[TransitDays] [varchar](60) NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DimTransitDaysId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [NetSuite2_Sales].[FactTransactions]    Script Date: 9/22/2026 4:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NetSuite2_Sales].[FactTransactions](
	[FactTransactionsId] [bigint] NOT NULL,
	[Id] [bigint] NULL,
	[TransactionLineId] [int] NULL,
	[ACCOUNT_BASED_NUMBER] [varchar](100) NULL,
	[DimAccountingPeriodId] [int] NULL,
	[DimCreateDateId] [int] NULL,
	[DimSalesEffectiveDateId] [int] NULL,
	[DimChartOfAccountsId] [int] NULL,
	[DimItemId] [int] NULL,
	[Amount] [money] NULL,
	[ItemUnitPrice] [nvarchar](42) NULL,
	[NetAmount] [money] NULL,
	[BomQuantity] [int] NULL,
	[QuantityAllocated] [bigint] NULL,
	[QuantityCommitted] [bigint] NULL,
	[QuantityPacked] [int] NULL,
	[QuantityPicked] [int] NULL,
	[QuantityReceived_in_shipment] [int] NULL,
	[DimDepartmentId] [int] NULL,
	[DimSubsidiaryId] [int] NULL,
	[DimTrandateId] [int] NULL,
	[ItemCount] [int] NULL,
	[DimSalesChannelId] [int] NULL,
	[Bars] [decimal](18, 0) NULL,
	[AssemblyItem] [nvarchar](4000) NULL,
	[CreatedFromId] [varchar](100) NULL,
	[Tranid] [nvarchar](138) NULL,
	[DimTransactionTypeId] [int] NULL,
	[DimClassesId] [int] NULL,
	[DimProductTypeId] [int] NULL,
	[DimProductClassId] [int] NULL,
	[DimCustomerId] [int] NULL,
	[DimLocationId] [int] NULL,
	[DimCreatedFromTransactionTypeId] [int] NULL,
	[DimTransactionEntryTypeId] [int] NULL,
	[BarsSold] [int] NULL,
	[ItemCountBars] [int] NULL,
	[BarsShipped] [int] NULL,
	[SalesAmount] [money] NULL,
	[ShippedAmount] [money] NULL,
	[ItemCountSold] [int] NULL,
	[ItemCountShipped] [int] NULL,
	[DimTransactionStatusId] [int] NULL,
	[DimShipDateId] [int] NULL,
	[DimRequestedDeliveryDateId] [int] NULL,
	[DimMADBDateId] [int] NULL,
	[DimActualShipDateId] [int] NULL,
	[DimPlannedDeliveryDateId] [int] NULL,
	[DimSalesRepId] [int] NULL,
	[DimMustArriveByDateId] [int] NULL,
	[DimPurchaseOrderDateId] [int] NULL,
	[DimCancelDateId] [int] NULL,
	[DimShipByDateId] [int] NULL,
	[DimPlannedShipByDateId] [int] NULL,
	[DimActualDeliveryDateId] [int] NULL,
	[DimComplianceFlagsId] [int] NULL,
	[DimShippingMethodId] [int] NULL,
	[DimShippingRegionId] [int] NULL,
	[DimDeviationReasonId] [int] NULL,
	[DimChangeTypeId] [int] NULL,
	[DimTransitDaysId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactTransactionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [NetSuite2].[ETL_ProcedureLog] ADD  CONSTRAINT [DF_ETL_ProcedureLog_HostName]  DEFAULT (host_name()) FOR [HostName]
GO
ALTER TABLE [NetSuite2].[ETL_ProcedureLog] ADD  CONSTRAINT [DF_ETL_ProcedureLog_AppName]  DEFAULT (app_name()) FOR [AppName]
GO
ALTER TABLE [NetSuite2].[ETL_ProcedureLog] ADD  CONSTRAINT [DF_ETL_ProcedureLog_LoginName]  DEFAULT (original_login()) FOR [LoginName]
GO
ALTER TABLE [NetSuite2].[ETL_ProcedureLog] ADD  CONSTRAINT [DF_ETL_ProcedureLog_SPID]  DEFAULT (@@spid) FOR [SPID]
GO
ALTER TABLE [NetSuite2].[ETL_ProcedureLog] ADD  CONSTRAINT [DF_ETL_ProcedureLog_InsertedAt]  DEFAULT (sysdatetime()) FOR [InsertedAt]
GO
